@import "@bmi/styles";

.GoogleMap {
  position: relative;
  height: 100%;

  .map {
    background-color: $color-pearl;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .popup {
    left: 0;
    margin: 0 18px;
    position: absolute;
    right: 0;
    top: 32px;
    bottom: 32px;
    max-width: 500px;

    @media (min-width: $breakpoint-md) {
      margin: 0 auto;
    }
  }

  .error {
    color: $color-error;
  }
}
