@import "@bmi/styles";

.GoogleMap {
  position: relative;
  height: 100%;

  .map {
    background-color: $color-pearl;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .popup {
    left: 0;
    margin: auto;
    max-height: calc(100% - 40px);
    overflow: auto;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 20px;
    width: 400px;
  }

  .error {
    color: $color-error;
  }
}
