@import "~@bmi-digital/styles";

.main {
  background-color: $color-white;
  padding: 1.5rem;

  + .main {
    margin-top: 1.5rem;
  }
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-pearl;
  font-weight: bold;
  text-align: center;
  padding: 3rem 2rem;
  margin-top: 1rem;
}

.table {
  margin-top: 1rem;
}
