MAIL_FROM:
GCP_PRIVATE_BUCKET_NAME:
FRONTEND_API_URL: http://localhost:4000/graphql

GCP_SECRET_PROJECT:
SECRET_MAN_GCP_PROJECT_NAME:
GOOGLE_APPLICATION_CREDENTIALS: ../../frontend/gcp.json
NODE_ENV: "local"
