@import "~@bmi-digital/styles";

.ArrowControl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // TODO: Cannot find the elevation specification.
  box-shadow: elevation(5);

  // NOTE: Necessary because on production build it gets overwritten
  // by the Button styling.
  /*   &:global(.MuiButtonBase-root) {
    border-radius: 50%;
  } */

  &--left {
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  &--right {
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
  }

  .chevron {
    width: 32px;
    height: 32px;
  }
}
