@import "~@bmi-digital/styles";

.container {
  max-width: 920px;

  a {
    color: #007bbd;
    text-decoration: underline;
  }
}

.body {
  padding: 1.5rem 0;
}

.subtitle {
  margin-bottom: 1.5rem;
}

.guaranteeConditionsText {
  margin: 1.5rem 0;
  border-top: 1px solid $color-storm;
  border-bottom: 1px solid $color-storm;
  padding: 1.5rem 0;
  overflow: hidden;
  max-height: 400px;
  > div {
    overflow: auto;
    max-height: calc(400px - 3rem);
  }
}
