SECRET_MAN_GCP_PROJECT_NAME:

# WebTools GCP bucket name
WEBTOOLS_CALCULATOR_BUCKET:

# Secret key for the auth header content
WEBTOOLS_UPDATE_REQUEST_SECRET:
# Secret key for the WebTools space token
WEBTOOLS_CONTENTFUL_TOKEN_SECRET:

# WebTools Contentful space details
WEBTOOLS_CONTENTFUL_SPACE:
WEBTOOLS_CONTENTFUL_ENVIRONMENT: master
