.Form {
  .Button {
    margin-top: 15px;
    margin-right: 15px;
  }

  .ButtonWrapper {
    display: flex;
  }

  &--rightAlignButton .ButtonWrapper {
    justify-content: flex-end;

    .Button {
      margin-right: 0;
      margin-left: 15px;
    }
  }
}
