@import "~@bmi-digital/styles";

.ThumbScrollerButton {
  background: rgba($color-black, 0.5);
  transition: background ease-in-out 0.25s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  // NOTE: Sets the ripple colour.
  color: $color-white;
  width: 42px;
  height: 60px;

  &:hover {
    background: rgba($color-black, 0.75);
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  .icon {
    color: $color-white;
    height: auto;
    width: 48px;
  }
}
