@import "~@bmi-digital/styles";

.InputBanner {
  background-color: $color-blue-800;

  .wrapper {
    padding: 55px 0;
    color: $color-white;
  }

  .title {
    margin-bottom: 40px;

    @media (min-width: $breakpoint-sm) {
      margin-bottom: 50px;
    }
  }

  @media (min-width: $breakpoint-lg) {
    .description-grid {
      margin-right: calc(8.33% + 24px);
    }
  }
}
