test_gcp-url-generator:
  extends: .test_function
  rules:
    - !reference [ .ingore_release_mrs, rules ]
    - if: !reference [ .run_for_changes_on_main, rules, if ]
      changes:
        - $ROOT_DIR/**/*
        - jest/**/*
        - yarn.lock
        - applications/dxb/libraries/pim-types/**/*
    - if: !reference [ .run_for_changes_on_mr, rules, if ]
      changes:
        - $ROOT_DIR/**/*
        - jest/**/*
        - yarn.lock
        - applications/dxb/libraries/pim-types/**/*
  variables:
    WORKSPACE: "@bmi/gcp-url-generator"
    ROOT_DIR: "applications/dxb/functions/gcp-url-generator"

build_gcp-url-generator:
  extends: .build_function
  rules:
    - !reference [ .ingore_release_mrs, rules ]
    - if: !reference [ .run_for_changes_on_main, rules, if ]
      changes:
        - $ROOT_DIR/**/*
        - yarn.lock
        - applications/dxb/libraries/pim-types/**/*
    - if: !reference [ .run_for_changes_on_mr, rules, if ]
      changes:
        - $ROOT_DIR/**/*
        - yarn.lock
        - applications/dxb/libraries/pim-types/**/*
    - if: !reference [ .run_for_preprod_release, rules, if ]
    - if: !reference [ .run_for_prod_release, rules, if ]
  variables:
    WORKSPACE: "@bmi/gcp-url-generator"
    ROOT_DIR: "applications/dxb/functions/gcp-url-generator"

package_gcp-url-generator:
  extends: .package_function
  needs:
    - job: build_gcp-url-generator
      artifacts: true
  rules:
    - if: !reference [ .run_for_changes_on_main, rules, if ]
      changes:
        - $ROOT_DIR/**/*
        - yarn.lock
        - applications/dxb/libraries/pim-types/**/*
    - if: !reference [ .run_for_preprod_release, rules, if ]
    - if: !reference [ .run_for_prod_release, rules, if ]
  variables:
    FUNCTION_NAME: "@bmi/gcp-url-generator"
    ROOT_DIR: "applications/dxb/functions/gcp-url-generator"

deploy_gcp-url-generator:
  extends: .deploy_function
  needs:
    - job: package_gcp-url-generator
      artifacts: true
  rules:
    - if: !reference [ .run_for_changes_on_main, rules, if ]
      changes:
        - $ROOT_DIR/**/*
        - yarn.lock
        - applications/dxb/libraries/pim-types/**/*
      variables:
        GCP_FUNCTIONS_CI: $GCP_FUNCTIONS_CI_QA
    - if: !reference [ .run_for_preprod_release, rules, if ]
      variables:
        GCP_FUNCTIONS_CI: $GCP_FUNCTIONS_CI_PREPROD
    - if: !reference [ .run_for_prod_release, rules, if ]
      variables:
        GCP_FUNCTIONS_CI: $GCP_FUNCTIONS_CI_PROD
  variables:
    FUNCTION_NAME: "gcp-url-generator"
    ROOT_DIR: "applications/dxb/functions/gcp-url-generator"
