# Contentful config
CONTENTFUL_SPACE_ID=0000000000
CONTENTFUL_MANAGEMENT_TOKEN_SECRET=0000000000000000000000000000000000000000000
CONTENTFUL_ENVIRONMENT=master

# Sendgrid config
SENDGRID_API_KEY_SECRET=0000000000000000000000000000000000000000000
SENDGRID_FROM_EMAIL=validfrom@email.com 
# https://app.sendgrid.com/settings/sender_auth/senders

# Secrets manager
SECRET_MAN_GCP_PROJECT_NAME=valid-gcp-project-name
