@import "@bmi/styles";

// exported variables
:export {
  color-black: $color-black;
  color-white: $color-white;
  color-focus-dark: $color-theme-focus-dark;
  color-inter: $color-theme-inter;
  color-inter-dark: $color-theme-inter-dark;
  color-disabled-contained-dark-bg: rgba($color-theme-inter-dark-rgb, 0.38);
  disabled-icon-button: rgba($color-theme-inter-rgb, 0.35);
}
