$color-cyan-500: #007bbd;
$color-cyan-600: #005b8c;
$color-white: #ffffff;

.Button {
  font-size: 18px;
  border-radius: 3px;

  &:global(.MuiButton-text):hover {
    background-color: rgba(#000000, 0.05);
  }

  &--dark-background:global(.MuiButton-text) {
    color: $color-white;

    &:hover {
      background: rgba($color-white, 0.1);
    }

    &:global(.Mui-disabled) {
      color: rgba($color-white, 0.38);
    }
  }

  &--dark-background:global(.MuiButton-outlined) {
    color: $color-white;
    border-color: rgba($color-white, 0.8);
    background-color: rgba($color-white, 0.1);

    &:hover {
      border-color: $color-white;
      background-color: transparent;
    }

    &:global(.Mui-disabled) {
      color: rgba($color-white, 0.3);
      background-color: rgba($color-white, 0.2);
      border-color: rgba($color-white, 0.3);
    }
  }

  &:global(.MuiButton-contained.Mui-disabled) {
    background: rgba($color-cyan-500, 0.38);
    color: $color-white;
  }

  :global {
    .MuiButton-label {
      text-transform: none;
    }
  }
}

.IconButton {
  border-radius: 3px;
  background-color: $color-cyan-500;
  &--extra-small {
    max-width: 24px;
    max-height: 24px;
    margin: 12px;
  }
  &--small {
    max-width: 32px;
    max-height: 32px;
    margin: 8px;
  }
  &--medium {
    width: 48px;
    height: 48px;
  }
  &--large {
    width: 60px;
    height: 60px;
  }
  &--extra-large {
    width: 64px;
    height: 64px;
  }
  &:global(.MuiIconButton-root) {
    background-color: $color-cyan-500;
    color: $color-white;
  }
  &--enabled:global(.MuiIconButton-root) {
    background-color: $color-cyan-500;
  }
  &--enabled:global(.MuiIconButton-root):hover {
    background-color: $color-cyan-600;
  }
  &--disabled:global(.MuiIconButton-root) {
    background-color: rgba($color-cyan-500, 0.35);
  }
}

.IconButtonWrapper {
  width: 48px;
  height: 48px;
  cursor: pointer;
  &--large {
    width: 60px;
    height: 60px;
  }
  &--extra-large {
    width: 64px;
    height: 64px;
  }
}
