GCP_MONITOR_PROJECT:
GCP_APPLICATION_PROJECT:
DXB_FIRESTORE_HANDLER_FUNCTION:
DXB_FIRESTORE_HANDLER_SUBSCRIPTION_ID:
METRIC_LATENCY_DELAY:
NETLIFY_BUILD_HOOK:
TIMEOUT_LIMIT:
DELAY_MILLISECONDS:
ES_INDEX_PREFIX:
ES_INDEX_NAME_DOCUMENTS:
ES_INDEX_NAME_TRAININGS:
ES_APIKEY:
ES_CLOUD_ID:
