GCP_MONITOR_PROJECT:
GCP_APPLICATION_PROJECT:
DXB_FIRESTORE_HANDLER_FUNCTION:
DXB_FIRESTORE_HANDLER_SUBSCRIPTION_ID:
METRIC_LATENCY_DELAY:
NETLIFY_BUILD_HOOK:
FUNCTION_TIMEOUT_SEC:
DELAY_MILLISECONDS:
