# Contentful config
CONTENTFUL_SPACE_ID:
CONTENTFUL_MANAGEMENT_TOKEN:
CONTENTFUL_ENVIRONMENT:

# Sendgrid config
SENDGRID_API_KEY:
SENDGRID_FROM_EMAIL:

# Secrets Manager
SECRET_MAN_GCP_PROJECT_NAME:

# Google Recapthca
RECAPTCHA_KEY:
RECAPTCHA_MINIMUM_SCORE:
