test_gcp-form-submit:
  extends: .test_jest
  variables:
    WORKSPACE: "@bmi/gcp-form-submit"
    ROOT_DIR: "applications/functions/gcp-form-submit"

build_gcp-form-submit:
  extends: .build_function
  variables:
    WORKSPACE: "@bmi/gcp-form-submit"
    ROOT_DIR: "applications/dxb/functions/gcp-form-submit"

package_gcp-form-submit:
  extends: .package_function
  needs:
    - build_gcp-form-submit
  dependencies:
    - build_gcp-form-submit
  variables:
    FUNCTION_NAME: "gcp-form-submit"
    ROOT_DIR: "applications/dxb/functions/gcp-form-submit"

deploy_gcp-form-submit:
  extends: .deploy_function
  needs:
    - package_gcp-form-submit
  dependencies:
    - package_gcp-form-submit
  variables:
    FUNCTION_NAME: "gcp-form-submit"
    ROOT_DIR: "applications/dxb/functions/gcp-form-submit"
