test_gcp-form-submit:
  extends: .test_function
  variables:
    WORKSPACE: "@bmi/gcp-form-submit"
    ROOT_DIR: "applications/functions/gcp-form-submit"

build_gcp-form-submit:
  extends: .build_function
  variables:
    WORKSPACE: "@bmi/gcp-form-submit"
    ROOT_DIR: "applications/dxb/functions/gcp-form-submit"

package_gcp-form-submit:
  extends: .package_function
  needs:
    - job: build_gcp-form-submit
      artifacts: true
  variables:
    FUNCTION_NAME: "gcp-form-submit"
    ROOT_DIR: "applications/dxb/functions/gcp-form-submit"

deploy_gcp-form-submit:
  extends: .deploy_function
  needs:
    - job: package_gcp-form-submit
      artifacts: true
  variables:
    FUNCTION_NAME: "gcp-form-submit"
    ROOT_DIR: "applications/dxb/functions/gcp-form-submit"
