@import "~@bmi-digital/styles";

.Protrusions {
  .protrusion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .protrusionsList {
    width: 100%;
  }

  .dimensions {
    display: flex;
    flex-flow: column nowrap;

    @media (min-width: $breakpoint-lg) {
      flex-flow: row-reverse nowrap;
      justify-content: center;
      align-items: center;
    }
  }

  .showOnLarge {
    display: none;
  }
}
