@import "~@bmi-digital/styles";

.Results {
  .FormSection {
    h2 {
      margin-bottom: 24px;
      font-size: 1.35rem;
      text-align: center;

      &::after {
        content: none;
      }
    }

    .help {
      margin-bottom: 40px;
      text-align: center;

      & + div {
        margin: 1rem auto 0;
      }
    }
  }

  .resetLink {
    text-decoration: underline;
    padding: 0;
    vertical-align: unset;

    &:hover {
      text-decoration: underline;
    }

    &--text:hover {
      background-color: unset;
    }
  }

  .fieldContainer {
    display: block;
  }
}
