@import "~@bmi-digital/styles";

.more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.wrapper,
.headerText{
  margin-bottom: 1rem;
}
