# Google Analytics tracking id
GATSBY_FRC_GA_CODE=UA-XXXXXXX-X

# Google Analytics cookies prefix in case we have multiple on the same domain/subdomain.
GATSBY_FRC_GA_COOKIE_PREFIX=FRC

# Prefix if the calculator isn't hosted at the root of the website
GATSBY_FRC_URL_PREFIX=/uk/flat-roof-estimator/
# For .env.development, GATSBY_FRC_URL_PREFIX=/

