# APSIS config
SECRET_MAN_GCP_PROJECT_NAME:
APSIS_API_BASE_URL:
APSIS_CLIENT_ID:
APSIS_CLIENT_SECRET:

APSIS_TARGET_SECTION:
APSIS_TARGET_KEYSPACE:
APSIS_CONSENT_LIST_DESCRIMINATOR:
APSIS_TOPIC_DESCRIMINATOR:
APSIS_TARGET_EMAIL_ATTRIBUTE_ID:
APSIS_TARGET_GDPR_1_ATTRIBUTE_ID:
APSIS_TARGET_GDPR_2_ATTRIBUTE_ID:
APSIS_TARGET_CHANNEL:
