@import "@bmi/styles";

.OverviewCard {
  width: 100%;
  height: 100%;
  background: $color-white;
  box-shadow: elevation(2);

  &--isflat {
    background: transparent;
  }

  .brand-logo {
    background-color: $color-white;
    padding: 5px;
    height: 50px;

    &--negative {
      position: absolute;
      margin-top: -50px;
    }
  }

  .header-picture {
    height: 180px;
  }

  .title {
    margin-top: 24px;

    &--no-brand-logo {
      margin-top: 0;
    }
  }

  .body {
    padding: 30px 24px;

    &--flat {
      padding: 24px 0 !important;
    }

    @media (min-width: $breakpoint-sm) {
      padding: 30px;
    }
  }

  .children {
    height: 100%;
  }

  .footer {
    margin-top: auto;
  }
}
