@import "@bmi/styles";

.OverviewCard {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  background: $color-white;
  box-shadow: elevation(2);

  &--flat {
    background: transparent;
    box-shadow: none;
  }

  .brand-logo {
    fill: $color-white;
    padding: 5px;
    height: 50px;
    z-index: 2;

    &--negative {
      margin-top: -50px;
    }
  }

  .header-picture {
    // object-fit: cover;
    // object-position: center;
    height: 180px;
    // TODO: Remove these when `imageSource` gets deprecated.
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: $color-white;

    // TODO: Remove this when `imageSource` gets deprecated.
    &--contain {
      background-size: contain;
    }
  }

  .title,
  .text {
    margin-top: 24px;
    word-wrap: break-word;
  }

  .title {
    color: $color-theme-inter;

    &--no-brand-logo {
      margin-top: 0;
    }
  }

  .text {
    color: $color-slate;
  }

  .body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 30px 24px;

    /* override BaseButton styles */
    align-items: normal;
    text-align: initial;

    @media (min-width: $breakpoint-sm) {
      padding: 30px;
    }
  }

  &--flat .body {
    padding: 24px 0;
  }

  &--flat .clickable {
    &:hover {
      color: $color-theme-focus;
    }
  }

  .children {
    margin: 24px 0;
    font-size: 16px;
  }

  .footer {
    margin-top: auto;
    font-size: 1rem;
  }

  &--clickable {
    /* override BaseButton styles */
    align-items: normal;
    text-align: initial;
    transition: opacity 280ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

    .header-picture {
      opacity: 0.8;
      transition: opacity 280ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .title,
    .text {
      transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover {
      box-shadow: elevation(8);

      .header-picture {
        opacity: 1;
      }

      .title {
        color: $color-theme-focus;
      }

      .text {
        color: $color-charcoal;
      }
    }
  }
  &--highlighted {
    border: 3px solid $color-theme-inter;
  }
}
