@import "~@bmi-digital/styles";
.RadioPaneContainer {
  margin-top: 8px;
  display: block;
  .description-container {
    overflow: hidden;
    transition: height 280ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn-container {
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: 8px;

    .icon-btn {
      min-width: 42px;
      width: 42px;
      height: 42px;
      border-radius: 0;
    } 
    .info-icon {
      width: 24px;
      height: 24px;
      color: $color-cyan-500;
    }
    .cancel-icon {
      width: 24px;
      height: 24px;
      color: #70706f;
    }
  }
}
.CollapseFeature {
  display: flex;
  .RadioPane {
    flex-grow: 1;
  }
}

.RadioPane {
  & + & {
    margin-top: 8px;
  }

  display: block;

  .input {
    position: absolute;
    clip: rect(0 0 0 0);
  }

  .pane {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: stretch;
    box-shadow: elevation(2);
    border: 1px solid $color-storm;
    border-radius: 3px;
    overflow: hidden;
    padding: 0 30px;
    cursor: default;
    background-color: $color-pearl;
  }

  .input:focus + .pane {
    border: 1px solid $color-theme-accent;
  }

  .input:checked + .pane {
    border: 2px solid $color-theme-accent;
    background-color: $color-white;

    .checkedIcon {
      display: block;
    }
  }

  .input:not(:checked) + .pane {
    cursor: pointer;

    &:hover {
      box-shadow: elevation(8);
      background-color: $color-white;

      .title {
        color: $color-theme-focus;
      }
    }
  }

  .checkedIcon {
    display: none;
    height: 32px;
    color: $color-theme-accent;
    margin-left: 16px;
  }

  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
  }

  .title {
    color: $color-theme-inter;
    line-height: 1;
  }

  .content {
    width: 100%;
    padding-bottom: 30px;
  }

  .hr {
    color: $color-storm;
    margin-bottom: 24px;
  }
}
