@import "~@bmi-digital/styles";

.SignupBlock {
  .wrapper {
    padding: 30px 0;
    .title-large-screen {
      margin-bottom: 24px;
    }
  }
  .signupLabel {
    width: 100%;
  }
  .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
