**/node_modules/**
**/dist/**
@types/**
coverage/**
coverage-ts/**
**/public/**

# ESLint config files are JS source files nonetheless
!**/.eslintrc.js

# Ignoring external libraries used by the visualiser.
libraries/visualiser-library/**/TileSlice/**
libraries/visualiser-library/**/ThreeJs/**
libraries/visualiser-library/**/ThreeJsUtils/**
