.yarn/**
# Needed only until we can use upstream fixes or we take this into our own setup properly
applications/dxb/libraries/gatsby-plugin-google-tagmanager/*.js
applications/dxb/libraries/gatsby-plugin-sitemap/*.js
