@import "@bmi/styles";

.NBACard {
  // NOTE: Overriding for the this module
  $breakpoint-sm: 420px;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  /* Override ButtonBase styles */
  align-items: normal;
  text-align: left;

  :global {
    .MuiLink-root {
      text-decoration: none;
    }
  }

  @media (max-width: $breakpoint-sm) {
    padding: 20px;
  }

  .title {
    margin-bottom: 24px;
  }

  .body {
    margin-bottom: 16px;
    font-size: 16px;
  }

  .footer {
    margin-top: auto;
  }

  &--clickable {
    opacity: 0.8;
    box-shadow: elevation(2);
    transition: opacity 280ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      opacity: 1;
      box-shadow: elevation(8);
    }
  }
}
