AUTH0_AUDIENCE: 
AUTH0_ISSUER_BASE_URL: 
AUTH0_MANAGEMENT_CLIENT_ID:
AUTH0_INVITATION_LIFETIME: 432000

// SECRET_MAN_GCP_PROJECT_NAME is used by @bmi-digital/functions-secret-client
SECRET_MAN_GCP_PROJECT_NAME: 
GOOGLE_APPLICATION_CREDENTIALS: ../../frontend/gcp.json
FRONTEND_BASE_URL: "http://no.local.intouch:3000"
