html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ot-sdk-container {
  display: block !important;
}
