@import "@bmi-digital/styles";

.feedholder {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-md) {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 1.5rem;
    align-items: start;
  }
}

.embed,
.tierBenefits {
  margin: 1rem 0;
}

.carouselImage {
  object-position: left;
}
