@import "@bmi/styles";

.layout {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $breakpoint-md) {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 320px;
    grid-template-rows: 1fr;
    gap: 0px 1.5rem;
    align-items: start;
  }
}

.cardChildren {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
  margin: -15px;
  background-color: $color-white;
  margin-top: 0;
}
