@import "@bmi/styles";

.main {
  padding: 10px 0px;
}
.body {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem;
  border: 1px solid $color-storm;
  &__title {
    margin: 5px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
  }
  &__logo {
    width: 32px;
    height: 32px;
  }
}
