@import "~@bmi-digital/styles";

$villan-breakpoint-sm: 769px;

:export {
  breakpoint-sm: $villan-breakpoint-sm;
}

.Villain {
  // NOTE: Overriding for the Villain module
  $breakpoint-sm: $villan-breakpoint-sm;

  & + & {
    margin-top: 24px;
  }

  min-height: auto;
  color: $color-white;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &--reversed {
    flex-direction: column-reverse;

    .grid {
      flex-wrap: nowrap;
    }
  }

  .title {
    margin-bottom: 24px;

    &::after {
      // NOTE: Fix the next slide being visible
      margin-left: 1px;
    }
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .content {
    padding: 60px 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .image {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  .text {
    width: 100%;
    max-width: 566px;
    font-size: 1.22rem;
  }

  .cta {
    margin-top: 24px;
  }

  &--contained {
    .content {
      padding: 60px 30px;
    }

    .text {
      font-size: 1rem;
    }
  }

  @media (min-width: $breakpoint-sm) {
    .content {
      min-height: 320px;
    }

    &--full-size .content {
      width: 50%;
      padding-right: 60px;
      margin-top: auto;
      margin-bottom: auto;
    }

    .image {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50vw;
      height: 100%;
      max-height: none;

      &::after {
        content: none;
      }
    }

    .text {
      width: 100%;
    }

    &--full-size#{&}--reversed {
      .content {
        margin-left: 50%;
        padding-right: 0;
        padding-left: 60px;
      }

      .image {
        left: auto;
        right: 50%;
      }
    }

    &--contained {
      .content {
        width: auto;
      }

      .image {
        position: relative;
        width: 100%;
        height: 100%;
        left: 0;
      }

      .media {
        position: absolute;
      }
    }
  }

  @media (min-width: $breakpoint-lg) {
    &--contained .content {
      padding-right: 60px;
      padding-left: 60px;
    }
  }

  @media (min-width: $breakpoint-xl) {
    .content {
      padding-bottom: none;
    }
  }
}
