@import "@bmi/styles";

.Tabs {
  position: relative;

  .TabPanel {

    &[hidden] {
      position: absolute;
      top: -9999px;
      left: -99999px;
      width: 100%;
      display: block;
    }
  }

  .TabPanelBox {
    background: $color-white;
    padding: 24px 0 0 0;
  }

  .TabsBar {
    background-color: $color-white;
    font-size: 1.25rem;

    :global {
      .MuiContainer-root {
        padding-left: 0;
        padding-right: 0;
      }

      .MuiTab-root {
        min-width: initial;
        padding: 6px 15px;
        font-size: 1rem;

        &.Mui-selected {
          font-family: "Effra Medium";
        }
      }

      .MuiTabs-scrollButtonsDesktop {
        display: flex;
      }

      .MuiContainer-root.MuiTabs-root {
        display: flex;
      }
    }
  }

  &--secondary {
    .TabsBar {
      background-color: $color-pearl;
      border-bottom: 1px solid $color-storm;
      border-top: 1px solid $color-storm;

      @media (min-width: $breakpoint-lg) {
        border: none;
      }
    }
  }

  &--visible-until-md {
    @media (min-width: $breakpoint-lg) {
      display: flex;

      .TabsBar {
        display: none;
      }

      .TabPanel,
      .TabPanelBox {
        display: initial;
      }
    }
  }

  &--visible-until-sm {
    @media (min-width: $breakpoint-md) {
      display: flex;

      .TabsBar {
        display: none;
      }

      .TabPanel,
      .TabPanelBox {
        display: initial;
      }
    }
  }
}
