$background-color: #f7f7f7;

.Tabs {
  .TabsBar {
    font-size: 1.25rem;

    :global {
      .MuiTab-root {
        min-width: initial;
        padding: 6px 15px;

        &.Mui-selected {
          font-weight: bold;
        }
      }
    }
  }

  &--secondary {
    .TabsBar {
      background-color: $background-color;
    }
  }
}
