ES_USERNAME:
ES_PASSWORD:
ES_CLOUD_ID:
SECRET_MAN_GCP_PROJECT_NAME:
ES_INDEX_PREFIX:
PIM_CLASSIFICATION_CATALOGUE_NAMESPACE:
USE_LOCAL_ES:
ENABLE_PDP_VARIANT_ATTRIBUTE_URL:

ES_INDEX_NAME_DOCUMENTS:
MANAGEMENT_ACCESS_TOKEN:
SPACE_ID:
CONTENTFUL_ENVIRONMENT:
MARKET_LOCALE:
TAG:
