test_es-pim-products-ingest:
  extends: .test_function
  variables:
    WORKSPACE: "@bmi/es-pim-products-ingest"
    ROOT_DIR: "applications/dxb/functions/es-pim-products-ingest"

build_es-pim-products-ingest:
  extends: .build_function
  variables:
    WORKSPACE: "@bmi/es-pim-products-ingest"
    ROOT_DIR: "applications/dxb/functions/es-pim-products-ingest"

package_es-pim-products-ingest:
  extends: .package_function
  needs:
    - job: build_es-pim-products-ingest
      artifacts: true
  variables:
    FUNCTION_NAME: es-pim-products-ingest
    ROOT_DIR: applications/dxb/functions/es-pim-products-ingest

deploy_es-pim-products-ingest:
  extends: .deploy_function
  needs:
    - job: package_es-pim-products-ingest
      artifacts: true
  variables:
    FUNCTION_NAME: es-pim-products-ingest
    ROOT_DIR: applications/dxb/functions/es-pim-products-ingest
