@import "~@bmi-digital/styles";

.CardInput {
  display: block;
  height: 100%;

  .input {
    position: absolute;
    clip: rect(0 0 0 0);
  }

  .card {
    padding: 2px;
  }

  .input:checked + .card {
    padding: 0px;
    border: 2px solid $color-theme-accent;
  }
}
