@import "@bmi/styles";

.ExpandableLinksTextCards {
  border-bottom: 1px solid $color-storm;
  padding-top: 40px;
  padding-bottom: 60px;

  .title {
    // TODO: This MUI spacing * 2. Can we expose this as variable?
    margin-bottom: 16px;
  }

  .link {
    display: block;
    font-size: 18px;
    margin-bottom: 16px;
  }

  .shown-links-wrapper {
    .link:last-child {
      margin-bottom: 0;
    }
  }

  .hidden-links-wrapper {
    .link:first-child {
      margin-top: 16px;
    }

    .link:last-child {
      margin-bottom: 0;
    }
  }
}
