@import "~@bmi-digital/styles";

.MediaGallery {
  display: block;
  position: relative;

  .image-wrapper {
    position: relative;
  }

  .main-image-wrapper {
    overflow: hidden;
    max-height: 360px;
    height: calc(100vw - (16px * 2));
    object-fit: contain;
    // TODO: Remove these when `mainSource` gets deprecated.
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $color-white;
    -webkit-print-color-adjust: exact;

    &--cover {
      object-fit: cover;
      // TODO: Remove this when `mainSource` gets deprecated.
      background-size: cover;
    }

    &--short {
      @media (min-width: $breakpoint-sm) {
        height: 360px;
        max-height: none;
      }

      @media (min-width: $breakpoint-md) {
        height: 440px;
      }
    }

    &--default {
      @media (min-width: $breakpoint-lg) {
        height: 600px;
        max-height: none;
      }
      @media (max-width: $breakpoint-lg) {
        height: 500px;
        max-height: none;
        @media (max-width: $breakpoint-sm) {
          height: calc(100vw - 32px);
          max-height: 500px;
        }
      }
    }
  }

  .accessibility-label {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
  }

  .caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    .caption-text {
      color: $color-white;
      height: 48px;
      margin: 16px;
      position: relative;
      z-index: 2;
      overflow: hidden;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.75) 0%,
          rgba(0, 0, 0, 0.75) 40%,
          rgba(0, 0, 0, 0) 100%
      );
      height: 100px;
      z-index: 0;
    }
  }

  .thumbnails {
    margin-top: 8px;
    width: 100%;
    overflow-x: hidden;
    position: relative;

    &--touch {
      overflow-x: scroll;
      position: static;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 75px;
        height: 66px;
        z-index: 2;
        opacity: 0;
        transition: opacity ease-in-out 0.25s;
        bottom: -1px;
        pointer-events: none;
      }

      &::before {
        left: -1px;
        background: linear-gradient(
            to right,
            $color-white 10%,
            rgba($color-white, 0) 100%
        );
      }

      &::after {
        right: -1px;
        background: linear-gradient(
            to left,
            $color-white 10%,
            rgba($color-white, 0) 100%
        );
      }
    }

    &--left-gradient::before {
      opacity: 1;
    }

    &--right-gradient::after {
      opacity: 1;
    }
  }

  .scroller {
    min-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    transition: margin-right ease-in-out 0.5s;
    overflow-x: auto;
  }

  .thumbnail {
    margin-right: 4px;
    flex-shrink: 0;
    position: relative;
    z-index: 1;

    &:first-child {
      margin-right: 2px;
    }
  }

  .thumb-scroller {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 2;
    opacity: 1;
    transition: opacity ease-in-out 0.25s;

    &--hidden {
      opacity: 0;
      pointer-events: none;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}
