@import "~@bmi-digital/styles";

.aboutLeadBlock {
  :global {
    [class*="MuiBox-root"] {
      padding: 0;
    }
  }

  .guaranteesAndAwardsAsset {
    .image {
      height: 80px;
      padding-right: 10px;
    }
  }

  .blueCheckIcon {
    color: var(--color-theme-accent);
    &--dark {
      color: var(--color-theme-accent-300);
    }
  }
}
