@import "~@bmi-digital/styles";

.aboutLeadBlock {
  :global {
    [class*="MuiBox-root"] {
      padding: 0;
    }
  }

  .guaranteesAndAwardsAsset {
    .image {
      height: 80px;
      padding-right: 10px;
    }
    .inline-link {
      padding-top: 10px;
      color: #0072b0;
      &:hover {
        color: #005b8c;
      }
      transition: color ease-out 0.25s;
    }
  }

  .blueCheckIcon {
    color: var(--color-theme-accent);
    &--dark {
      color: var(--color-theme-accent-300);
    }
  }
}
