@import "~@bmi-digital/styles";

.DocumentLeadBlock {
  padding: 30px 24px;

  @media (max-width: $breakpoint-lg) {
    padding: 30px 0;

    &>div{
      margin-top: 0;
    }
  }

  @media (max-width: $breakpoint-sm) {
    margin: 0 -8px;
  }
  
  .tableContainer {
    :global {
      @media (min-width: $breakpoint-xl) {
        border: 1px solid $color-storm;
        border-radius: 3px 3px 0 0;
        overflow: hidden;

        [class*="MuiTable-root"],
        [class*="MuiTableRow-head"] {
          border-color: transparent;
        }

        [class*="MuiTableCell-root"] {
          color: $color-slate;
        }
      }
    }
  }
}
