@import "@bmi/styles";

.tableContainer {
  :global {
    @media (min-width: $breakpoint-xl) {
      border: 1px solid $color-storm;
      border-radius: 3px 3px 0 0;
      overflow: hidden;

      [class*="MuiTable-root"],
      [class*="MuiTableRow-head"] {
        border-color: transparent;
      }

      [class*="MuiTableCell-root"] {
        color: $color-slate;
      }
    }
  }
}
