.LeadBlockSection {
  .ctaContainer {
    display: flex;
    align-items: center;
  }

  .quotationBtn {
    margin-left: 20px;
  }

  .brandLogo {
    max-width: 85px;
  }

  .iconList {
    > [class*="IconList"] {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
