@import "~@bmi-digital/styles";

.LeadBlockSection {
  padding-top: 0px;

  .ctaContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
      align-items: center;
    }
  }

  .backToYourSelectionBtn {
    margin-right: 20px;
    @media (max-width: $breakpoint-lg) {
      padding-left: 0;
      margin-bottom: 24px;
    }
  }

  .quotationBtn {
    margin-left: 0;
  }

  .brandLogo {
    fill: $color-white;
    max-height: 50px;
    width: auto;
  }

  .card > div {
    background-color: $color-alabaster;
  }

  .iconList {
    > [class*="IconList"] {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
