@import "@bmi/styles";

.LeadBlockSection {
  .ctaContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
      align-items: center;
    }
  }

  .backToYourSelectionBtn {
    @media (max-width: $breakpoint-lg) {
      padding-left: 0;
      margin-bottom: 24px;
    }
  }

  .quotationBtn {
    margin-left: 0;
    @media (min-width: $breakpoint-lg) {
      margin-left: 20px;
    }
  }

  .brandLogo {
    max-width: 85px;
  }

  .iconList {
    > [class*="IconList"] {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
