@import "~@bmi-digital/styles";

.sdpTabLeadBlock {
  :global {
    [class*="MuiBox-root"] {
      padding-top: 0;
    }
    [class*="Section-module"] {
      @media (min-width: $breakpoint-xl) {
        padding-top: 48px;
      }
    }
    [class*="MuiGrid2-root"] {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    [class*="TabsBar"] [class*="MuiContainer-root"] {
      @media (min-width: $breakpoint-xl) {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
  }
}

.bmiIframe {
  margin-top: 0;
}
