@import "@bmi/styles";

.Accordion {
  .item {
    border: 1px solid $color-storm;

    & + & {
      border-top: none;
    }
  }

  :global(.MuiAccordion-root.Mui-expanded) {
    margin-bottom: 0;
    margin-top: 0;
  }

  :global {
    .MuiCollapse-container {
      border-top: 1px solid $color-storm;
    }

    .MuiAccordionSummary-root {
      background-color: $color-pearl;

      &.Mui-expanded {
        min-height: initial;
      }
    }

    .MuiAccordionSummary-content.Mui-expanded {
      margin: initial;
    }

    .MuiAccordionDetails-root {
      padding: 32px 24px;
    }
  }

  &--no-inner-padding {
    :global(.MuiAccordionDetails-root) {
      padding: 0;
    }
  }
}
