@import "~@bmi-digital/styles";

.SlideControls {
  $animation-duration: 0.3s;

  display: flex;
  align-items: center;
  overflow: hidden;
  min-height: 48px;

  &--full-size {
    width: 100%;
    justify-content: space-between;
  }

  &--vertical {
    flex-direction: column;
  }

  .sliding-slot {
    height: 28px;
  }

  .middle-container {
    display: flex;
    margin: 0 24px;
    user-select: none;
    position: relative;
  }

  &--vertical .middle-container {
    margin: 10px 0;
    padding: 10px 0;
    overflow: hidden;
  }

  .chevron {
    width: 37px;
    height: 37px;
    color: $color-slate;
    transition: 0.2s color ease-in-out;

    &:hover {
      color: $color-charcoal;
    }
  }

  .numbers {
    display: flex;
    flex-direction: column;

    &--up {
      animation: slide $animation-duration ease-in-out both;
    }

    &--down {
      animation: slide $animation-duration ease-in-out reverse both;
    }
  }

  .total {
    margin-left: 2px;
    font-size: 20px;
    color: $color-slate;

    &::before {
      content: "/";
      display: inline-block;
      margin-right: 4px;
    }
  }

  .number {
    font-size: 20px;
    width: 28px;
    text-align: center;
    color: $color-slate;
    animation: fade $animation-duration ease-in-out reverse both;

    &--active {
      animation: fade $animation-duration ease-in-out both;
    }

    &:first-child:last-child {
      opacity: 1;
      animation: none;
    }
  }

  &--light {
    .number,
    .total,
    .chevron {
      color: rgba($color-white, 0.8);
    }

    .chevron:hover {
      color: $color-white;
    }
  }

  @keyframes slide {
    0% {
      margin-top: 0;
    }

    100% {
      margin-top: -100%;
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
