@import "@bmi-digital/styles";

.main {
  background-color: $color-white;
  padding: 1.5rem;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
}

.body {
  padding: 1.5rem;
}
