##############
# GLOBAL GCP/FIRESTORE CONFIG
##############
GCP_PROJECT_ID=

FIRESTORE_PRIVATE_KEY_ID=
FIRESTORE_PRIVATE_KEY=
FIRESTORE_CLIENT_EMAIL=
FIRESTORE_CLIENT_ID=
FIRESTORE_AUTH_URI=
FIRESTORE_TOKEN_URI=
FIRESTORE_AUTH_PROVIDER_X509_CERT_URL=
FIRESTORE_CLIENT_X509_CERT_URL=

# PIM_CLASSIFICATION_CATALOGUE_NAMESPACE=

##############
# ELASTIC SEARCH
##############
GATSBY_ES_ENDPOINT=
GATSBY_ES_API_KEY_ID=
GATSBY_ES_API_KEY=
# Used to index on build
ES_ADMIN_USERNAME=
ES_ADMIN_PASSWORD=
# for now keeping the same name to align with full cat cloud function
GATSBY_ES_INDEX_NAME_PRODUCTS=
GATSBY_ES_INDEX_NAME_SYSTEMS=
GATSBY_ES_INDEX_NAME_PAGES=
GATSBY_ES_INDEX_NAME_DOCUMENTS=

##############
# FUNCTIONS
##############
GATSBY_GCP_FORM_UPLOAD_ENDPOINT=
GATSBY_GCP_FORM_SUBMIT_ENDPOINT=
GATSBY_GCP_APSIS_ENDPOINT=
GATSBY_GCP_SYSTEM_CONFIGURATOR_ENDPOINT=

##############
# DOWNLOAD
##############
GATSBY_DOCUMENT_DOWNLOAD_ENDPOINT=
GATSBY_DOCUMENT_DOWNLOAD_MAX_LIMIT=

##############
# GOOGLE SERVICES
##############
GATSBY_GOOGLE_API_KEY=
GOOGLE_TAGMANAGER_ID=
GOOGLE_YOUTUBE_API_KEY=
GOOGLE_TAGMANAGER_MARKET_MEDIA_ID=

##############
# TRACKERS
##############
GATSBY_HUBSPOT_ID=
GATSBY_HUBSPOT_CTA_URL=
GATSBY_HUBSPOT_API_URL=
HUBSPOT_API_KEY=

##############
# LEADOO
##############
GATSBY_LEADOO_ID=

##############
# ASSETS
##############
GATSBY_ASSET_PREFIX=
GATSBY_VISUALISER_ASSETS_URL=


##############
# HEADERS
##############
CONTENT_SECURITY_POLICY=
X_ROBOTS_TAG=
ACCESS_CONTROL_ALLOW_ORIGIN=

##############
# Preview
##############
GATSBY_PREVIEW=

##############
# CUSTOMISAION
##############
GATSBY_LONG_TEXT=

##############
# Contentful global settings
##############
# An optional setting. Defaults to cdn.contentful.com
# CONTENT_API_HOST=

##############
# COUNTRY DETAILS
##############
# SPACE_ID=
# SPACE_MARKET_CODE=
# ACCESS_TOKEN=
# ENVIRONMENT=

##############
# To add more country sites, add and increment the index suffix:
##############
# SPACE_ID_1=
# ACCESS_TOKEN_1=
# ENVIRONMENT_1=

##############
# WebTools Calculator
##############
GATSBY_ENABLE_WEBTOOLS_CALCULATOR=
GATSBY_WEBTOOLS_CALCULATOR_APSIS_ENDPOINT=
GATSBY_WEBTOOLS_CALCULATOR_DATA_URL=

##############
# Feature Flags
##############
GATSBY_ENABLE_SYSTEM_DETAILS_PAGES=
GATSBY_ENABLE_BRAND_PROVIDER=
GATSBY_DONT_USE_COUNTRY_CODE=

##############
# Youtube cache
##############
ENABLE_YOUTUBE_CACHE=
YOUTUBE_CACHE_API_URL=
YOUTUBE_CACHE_BEARER_TOKEN_SECRET=
