// This disable gatsby local
{
  "extends": "../../../.eslintrc.js",
  "overrides": [
    {
      "files": ["**/gatsby-ssr.js", "**/gatsby-browser.js"],
      "parserOptions": {
        "sourceType": "module"
      }
    }
  ]
}
