@import "@bmi-digital/styles";

.cardActionArea__isActive {
  :global {
    .MuiCardActionArea-focusHighlight {
      background-color: currentColor;
      opacity: 0.04;
    }
  }
}

.main {
  border: 1px solid $color-storm;
  margin-bottom: -1px;
  position: relative;
}

.chevron {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.title {
  margin-right: 1rem;
}
