@import "@bmi/styles";

.TOC {
  overflow-y: scroll;
  scroll-behavior: smooth;
  .link {
    color: $color-cyan-500;
    text-decoration: underline;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .menu {
    width: 100%;
    background-color: $color-pearl;
    padding: 30px;
  }
  .menu-title {
    margin-bottom: 18px;
  }
  .section-heading {
    margin-bottom: 36px;
  }
}

html {
  scroll-behavior: smooth;
}
