@import "@bmi-digital/styles";

.main {
  background-color: $color-white;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  border-top: 1px solid $color-pearl;
  margin-top: -24px;
}

.body {
  max-width: 100%;
}
