@import "~@bmi-digital/styles";

.main {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  color: $color-cyan-500;
  transition: 0.15s;

  p {
    font-family: "Effra Medium" !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & + & {
    margin: 0.75rem 0;
  }

  svg {
    height: 24px;
    width: 24px;
    margin-right: 12px;
    fill: $color-slate;
  }

  &:hover {
    text-decoration: underline;
    color: $color-cyan-600;
  }
}
