@import "~@bmi-digital/styles";

.Results {
  .form {
    .title {
      margin-bottom: 24px;
    }

    .help {
      margin-bottom: 40px;
    }

    .fieldsContainer {
      margin-bottom: 36px;
    }

    .gdprContainer {
      margin-bottom: 64px;
    }

    .submit {
      margin: 0px;
    }
  }
}
