GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=urn:ietf:wg:oauth:2.0:oob
GOOGLE_SPREADSHEET_ID=
GOOGLE_SPREADSHEET_RANGE=DataModel
PG_USER=postgresql
PG_HOST=localhost
PG_DATABASE=postgresql
PG_PASSWORD=postgresql
PG_SCHEMA=test
