@import "~@bmi-digital/styles";

.Footer {
  background: $color-blue-900;
  color: $color-white;
  padding: 50px 0;

  .list {
    margin: 0 0 0 -8px;
    padding: 0;
    list-style-type: none;
  }

  .list-item {
    margin: 0;
    padding: 0;
    margin-top: 16px;

    &--icon {
      display: inline-block;

      :global(.MuiSvgIcon-root) {
        font-size: 2em;
      }
    }
  }

  .list--inline {
    margin: 40px 0;
    text-align: center;

    @media (min-width: $breakpoint-lg) {
      margin: 0 40px;
      text-align: left;
    }

    .list-item {
      margin-top: 0;
      text-align: center;

      @media (min-width: $breakpoint-sm) {
        margin-right: 16px;
        display: inline-block;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .link {
      width: auto;

      @media (min-width: $breakpoint-sm) {
        width: 100%;
      }
    }
  }

  .link {
    color: $color-storm;
    justify-content: flex-start;
    width: 100%;
    font-family: "Effra Regular";

    @media (min-width: 1024px) {
      font-family: "Effra Medium";
    }
  }

  .icon-link {
    fill: $color-storm;
    font-size: 16px;

    .icon {
      width: 1.5em;
      color: #cccccc;
    }

    &:first-child {
      margin-left: -4px;
    }
  }

  .secondary-navigation {
    border-top: 1px solid rgba($color-white, 0.25);
    margin-top: 30px;
    padding: 30px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .logo {
    width: 70px;

    @media (min-width: $breakpoint-sm) {
      width: 75px;
    }

    @media (min-width: $breakpoint-lg) {
      width: 50px;
    }
  }

  .standard-logo {
    text-align: right;
    flex: 1;
    fill: $color-storm;

    > svg {
      width: 125px;
    }
  }
}
