@import "~@bmi-digital/styles";

.CalculatorStepper {
  .title {
    padding: 0;
  }

  .item {
    display: none;
  }

  .step-title {
    margin-top: 1rem;
    text-align: center;
  }

  .subtitle {
    margin-top: 1rem;
    text-align: center;
  }

  .computation {
    margin-top: 1rem;
    text-align: center;
  }

  .component {
    text-align: center;
    padding: 1rem;
  }

  .content {
    padding-top: 64px;
  }

  .hr {
    margin-top: 52px;
  }

  .footer {
    padding-top: 36px;
  }

  .breakableRow {
    display: flex;
    flex-direction: column;

    & > .breakableRow:not(:first-child) {
      margin: 0;
      margin-top: 24px;

      @media (min-width: $breakpoint-md) {
        margin: 0;
      }
    }

    & > .rowItem:not(:first-child) {
      margin: 0;
      margin-top: 24px;

      @media (min-width: $breakpoint-md) {
        margin: 0;
        margin-left: 60px;
      }
    }

    &--reverse {
      flex-direction: column-reverse;

      & > .breakableRow:not(:first-child) {
        margin: 0;
        margin-bottom: 24px;

        @media (min-width: $breakpoint-md) {
          margin: 0;
        }
      }

      & > .rowItem:not(:first-child) {
        margin: 0;
        margin-bottom: 24px;

        @media (min-width: $breakpoint-md) {
          margin: 0;
          margin-right: 60px;
        }
      }
    }

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
