@import "~@bmi-digital/styles";

.BrandIntroCard {
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  padding: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .brandLogoButton {
    background: transparent;
    &:hover {
      background: transparent;
    }
  }

  .brandLogo {
    fill: $color-white;
    height: 60px;
    @media (min-width: $breakpoint-md) {
      height: 80px;
    }
  }

  .brandLogo-whiteBox {
    background-color: #fff;
  }

  .description {
    margin-top: 24px;
    margin-bottom: 24px;
    align-items: center;
    text-align: center;
    display: none;
    @media (min-width: $breakpoint-md) {
      display: block;
    }
  }
}
