@import "~@bmi-digital/styles";

.YoutubeVideo {
  display: flex;
  height: 100%;
  min-height: 80px;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .preview-image {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    &:hover {
      cursor: pointer;
    }

    &::after {
      content: "";
      background: rgba($color-black, 0.65);
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &--in-place {
    display: block;

    &::after {
      background: transparent;
    }
  }

  .play-button {
    z-index: 2;
    position: absolute;
  }

  &--inline {
    --max-width: 1070px;

    background-color: $color-black;
    display: block;
    height: 0;
    margin: auto;
    max-width: var(--max-width);
    padding-bottom: calc(var(--aspect-ratio) * 100%);
    position: relative;

    &::after {
      display: none;
    }

    // calc() and var() no work in media queries :(
    @media (min-width: 1070px + 42px) {
      padding-bottom: calc(var(--aspect-ratio) * var(--max-width));
    }

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .preview-image {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    .overlay {
      align-items: center;
      background-image: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.25) 100%
      );
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      height: 100%;
      width: 100%;
    }

    .play-button {
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.35);
      height: 72px;
      width: 72px;
      z-index: initial;

      svg {
        font-size: 48px;
        fill: $color-storm;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.5);

        svg {
          fill: $color-white;
        }
      }
    }

    .subtitle {
      color: $color-white;
      margin-top: 24px;
      max-width: 65%;
      text-align: center;
    }
  }
}
