@import "~@bmi-digital/styles";

.Checkbox {
  :global {
    [class*="MuiCheckbox-colorPrimary"] {
      color: $color-theme-inter;

      & [class*="Mui-disabled"] {
        color: rgba($color-theme-inter-rgb, 0.25);
      }
    }

    [class*="MuiFormControlLabel-root"] {
      align-items: flex-start;
    }

    [class*="MuiFormControlLabel-label"] {
      margin-top: 1px;
      word-break: break-word;
    }

    [class*="MuiFormHelperText-root"] {
      margin: 0 0 14px 33px;
    }

    [class*="MuiCheckbox-root"] {
      margin-top: -9px;
    }
  }
}
