@import "~@bmi-digital/styles";

.main {
  p {
    margin-bottom: 0.75em;
  }
}

.title {
  margin-bottom: 28px !important;

  p + & {
    margin-top: 28px !important;
  }
}

.link {
  color: $color-cyan-500;
  text-decoration: underline;
}
