@import "~@bmi-digital/styles";

.main {
  padding-top: 1.5rem;
  background-color: $color-white;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  align-self: flex-start;

  &:before {
    content: "";
    background-color: $color-pearl;
    width: 100%;
    height: 105px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.content {
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 34px;
}

.avatar {
  width: 150px;
  height: 150px;
}

.userName {
  margin-top: 1rem;
}

.role {
  color: $color-slate;
  text-transform: capitalize;
  margin-top: 0.25rem !important;
}

.icons {
  margin-top: 0.5rem;
}

.details {
  margin-top: 1rem;
  padding: 0 1.5rem;
  width: 100%;
  background-color: $color-pearl;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.buttonHolder {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.companyName {
  font-weight: bold;
  margin-top: 0.5rem;
}
