GCP_PROJECT_ID:

FIRESTORE_ROOT_COLLECTION:
FIRESTORE_PRIVATE_KEY_ID:
FIRESTORE_PRIVATE_KEY:
FIRESTORE_CLIENT_EMAIL:
FIRESTORE_CLIENT_ID:
FIRESTORE_AUTH_URI:
FIRESTORE_TOKEN_URI:
FIRESTORE_AUTH_PROVIDER_X509_CERT_URL:
FIRESTORE_CLIENT_X509_CERT_URL:

ES_USERNAME:
ES_PASSWORD:
ES_CLOUD_ID:
USE_LOCAL_ES:

PIM_HOST:
PIM_CLIENT_ID:
PIM_OAUTH_CLIENT_SECRET:
SECRET_MAN_GCP_PROJECT_NAME:
ES_INDEX_PREFIX:
ES_INDEX_NAME_DOCUMENTS:
PIM_CATALOG_NAME:
FULL_FETCH_ENDPOINT:
BUILD_TRIGGER_ENDPOINT:
LOCALE:
MARKET_LOCALE:
TAG:

SPACE_ID:
CONTENTFUL_ENVIRONMENT:
CONTENTFUL_DELIVERY_TOKEN:
