# APSIS config
SECRET_MAN_GCP_PROJECT_NAME:
APSIS_API_BASE_URL: https://api.apsis.one
APSIS_CLIENT_ID:
APSIS_CLIENT_SECRET:

APSIS_TARGET_SECTION: usercreated.sections.bmi_norge-fulq3a5aou
APSIS_TARGET_KEYSPACE: com.apsis1.keyspaces.email
APSIS_CONSENT_LIST_DESCRIMINATOR: usercreated.targets.bmi_norge-ylbz9hz52c
APSIS_TOPIC_DESCRIMINATOR: usercreated.topics.nyhetsbrev_-_nettside-rg4kf3kt24
APSIS_TARGET_EMAIL_ATTRIBUTE_ID: 98205
APSIS_TARGET_GDPR_1_ATTRIBUTE_ID: 312460
APSIS_TARGET_GDPR_2_ATTRIBUTE_ID: 312461
APSIS_TARGET_FIRST_NAME_ATTRIBUTE_ID: 312462 # optional
APSIS_TARGET_CHANNEL: com.apsis1.channels.email

RECAPTCHA_SECRET_KEY:
RECAPTCHA_MINIMUM_SCORE:
