test_gcp-apsis-integration:
  extends: .test_jest
  variables:
    WORKSPACE: "@bmi/gcp-apsis-integration"
    ROOT_DIR: "applications/functions/gcp-apsis-integration"

build_gcp-apsis-integration:
  extends: .build_function
  variables:
    WORKSPACE: "@bmi/gcp-apsis-integration"
    ROOT_DIR: "applications/dxb/functions/gcp-apsis-integration"

package_gcp-apsis-integration:
  extends: .package_function
  needs:
    - build_gcp-apsis-integration
  dependencies:
    - build_gcp-apsis-integration
  variables:
    FUNCTION_NAME: "gcp-apsis-integration"
    ROOT_DIR: "applications/dxb/functions/gcp-apsis-integration"

deploy_gcp-apsis-integration:
  extends: .deploy_function
  needs:
    - package_gcp-apsis-integration
  dependencies:
    - package_gcp-apsis-integration
  variables:
    FUNCTION_NAME: "gcp-apsis-integration"
    ROOT_DIR: "applications/dxb/functions/gcp-apsis-integration"
