@import "@bmi/styles";

$sidebar-width: 200px;

.cookieBanner {
  background-color: #181818;
  width: 100%;

  max-width: calc(100vw - #{$sidebar-width});
  @media (max-width: $breakpoint-md) {
    max-width: 100vw;
  }
}
