.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  // TODO
}

.meta {
  // TODO
}
