include:
  - local: "/applications/dxb/functions/contentful-default-values/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/contentful-tagger/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/es-pim-products-ingest/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gatsby-cloud-build-proxy/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gcp-apsis-integration/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gcp-build-status-logger/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gcp-build-trigger/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gcp-contentful-documents-ingest/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gcp-download-zip/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gcp-es-proxy/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gcp-firestore-writer/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gcp-form-submit/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gcp-functions-deployer/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gcp-pim-full-fetch/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gcp-pim-full-fetch-coordinator/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gcp-pim-message-handler/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gcp-system-configurator/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gcp-update-webtools-bucket/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gcp-upload-file/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gcp-url-generator/.gitlab-ci.yml"
  - local: "/applications/dxb/functions/gcp-youtube-cache/.gitlab-ci.yml"

.test_function:
  extends: .test_yarn_workspace
  rules:
    - !reference [.ingore_release_mrs, rules]
    - if: !reference [.run_for_changes_on_main, rules, if]
      changes:
        - $ROOT_DIR/**/*
        - jest/**/*
        - yarn.lock
    - if: !reference [.run_for_changes_on_mr, rules, if]
      changes:
        - $ROOT_DIR/**/*
        - jest/**/*
        - yarn.lock

.build_function:
  extends: .build_function_yarn_workspace
  rules:
    - !reference [.ingore_release_mrs, rules]
    - if: !reference [.run_for_changes_on_main, rules, if]
      changes:
        - $ROOT_DIR/**/*
        - yarn.lock
    - if: !reference [.run_for_changes_on_mr, rules, if]
      changes:
        - $ROOT_DIR/**/*
        - yarn.lock
    - if: !reference [.run_for_preprod_release, rules, if]
    - if: !reference [.run_for_prod_release, rules, if]

.package_function:
  extends: .package_function_yarn_workspace
  rules:
    - if: !reference [.run_for_changes_on_main, rules, if]
      changes:
        - $ROOT_DIR/**/*
        - yarn.lock
    - if: !reference [.run_for_preprod_release, rules, if]
    - if: !reference [.run_for_prod_release, rules, if]

.deploy_function:
  extends: .deploy_function_yarn_workspace
  rules:
    - if: !reference [.run_for_changes_on_main, rules, if]
      changes:
        - $ROOT_DIR/**/*
        - yarn.lock
      variables:
        GCP_FUNCTIONS_CI: $GCP_FUNCTIONS_CI_QA
    - if: !reference [.run_for_preprod_release, rules, if]
      variables:
        GCP_FUNCTIONS_CI: $GCP_FUNCTIONS_CI_PREPROD
    - if: !reference [.run_for_prod_release, rules, if]
      variables:
        GCP_FUNCTIONS_CI: $GCP_FUNCTIONS_CI_PROD
