@import "~@bmi-digital/styles";

.card {
  padding: 0;
  margin-bottom: 30px;

  @media (min-width: $breakpoint-md) {
    padding: 1rem;
  }
  @media (max-width: $breakpoint-sm) {
    border-radius: 0;
    margin-bottom: 20px;
  }
}
