NEXT_PUBLIC_APOLLO_CLIENT_URL=http://localhost:4000
NEXT_PUBLIC_AUTH_DOMAIN=
NEXT_PUBLIC_AUTH_CLIENTID=
NEXT_PUBLIC_AUTH_REDIRECTURI=
NEXT_PUBLIC_AUTH_AUDIENCE=
NEXT_PUBLIC_AUTH_NAMESPACE="https://intouch"