@import "~@bmi-digital/styles";

.main {
  background-color: $color-white;
  padding: 1.5rem;
  margin-top: 1.5rem;
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.body {
  padding: 1.5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.5rem;

  @media (max-width: $breakpoint-lg) {
    grid-template-columns: 1fr;
  }

  svg {
    margin-right: 0.5rem;
  }
}
