@import "@bmi/styles";

.MenuIsOpen {
  // This class is attached to the `body`
  overflow: hidden;

  .NavigationBar,
  .UtilitiesBar {
    padding-right: 15px;
  }
}

.Header {
  $transition-timing: 280ms cubic-bezier(0.4, 0, 0.2, 1);
  // Breakpoint overrides
  $breakpoint-sm: 800px;
  $breakpoint-md: 1080px;

  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
  }

  .LogoLink {
    display: inherit;
  }

  .Logo {
    margin: 10px 10px 10px 0;
    width: 50px;
    height: 50px;

    @media (min-width: $breakpoint-sm) {
      width: 60px;
      height: 60px;
    }

    @media (min-width: $breakpoint-md) {
      width: 80px;
      height: 80px;
    }
  }

  .Navigation {
    display: none;

    @media (min-width: $breakpoint-sm) {
      display: block;
    }

    .NavItem {
      border: 1px solid transparent;
      border-radius: 3px 3px 0 0;
      min-width: auto;
      transition: color $transition-timing, background-color $transition-timing,
        box-shadow $transition-timing, border $transition-timing;
      color: $color-slate;
      font-size: 16px;
      opacity: 1;

      @media (min-width: $breakpoint-md) {
        font-size: 16px;
        padding-bottom: 32px;
        padding-top: 31px;
      }

      @media (min-width: 1200px) {
        font-size: 18px;
        padding: 30px 8px 30px 14px;
      }

      &:hover {
        background-color: $color-pearl;
        color: $color-charcoal;
      }

      &:global(.Mui-selected) {
        border: 1px solid $color-storm;
        border-bottom-color: $color-white;
      }

      :global {
        .MuiTab-wrapper {
          flex-direction: column-reverse;

          @media (min-width: $breakpoint-md) {
            flex-direction: row-reverse;
          }
        }

        .MuiSvgIcon-root {
          margin-bottom: 0;
          height: 16px;
          width: 16px;

          @media (min-width: 1200px) {
            margin-left: 3px;
            height: 24px;
            width: 24px;
          }
        }
      }

      &--selected {
        border-bottom: 5px solid $color-cyan-500 !important;
      }
    }

    :global {
      .MuiTabs-indicator {
        display: none;
      }
    }
  }

  .BurgerButton {
    background-color: $color-white;
    color: $color-cyan-500;
    margin-left: 10px;

    &:hover {
      background-color: $color-pearl;
    }

    @media (min-width: $breakpoint-sm) {
      display: none;
    }
  }

  .CloseButton {
    background-color: $color-white;
    color: $color-slate;
    margin: 7px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    &:hover {
      background-color: $color-pearl;
      color: $color-charcoal;
    }
  }

  .Backdrop {
    z-index: 13;

    @media (min-width: $breakpoint-sm) {
      z-index: 11;
    }
  }

  .Drawer {
    background-color: $color-white;
    border: 1px solid $color-storm;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 315px;
    z-index: 13;

    @media (min-width: $breakpoint-sm) {
      height: auto;
      top: auto;
      z-index: 11;
    }
  }

  .NavDrawer {
    overflow: hidden;

    @media (min-width: $breakpoint-sm) {
      left: 0;
      height: calc(100vh - 132px); // Header height md
      width: 100%;
      position: absolute;
    }

    @media (min-width: $breakpoint-md) {
      height: calc(100vh - 160px); // Header height lg
    }
  }

  .SearchDrawerContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    max-width: $breakpoint-xl;
    z-index: 11;

    @media (min-width: $breakpoint-sm) {
      top: auto;
    }
  }

  .SearchDrawer {
    position: absolute;
    padding: 30px;

    @media (min-width: $breakpoint-sm) {
      right: 20px;
      width: 566px;
    }

    :global(.MuiTypography-root) {
      margin-bottom: 32px;
    }
  }

  .LanguageDrawer {
    z-index: 14;

    @media (min-width: $breakpoint-sm) {
      left: 0;
      height: calc(100vh - 52px); // Nav height md
      width: 100%;
      position: absolute;
    }

    @media (min-width: $breakpoint-md) {
      height: calc(100vh - 56px); // Nav height lg
    }
  }

  .UtilitiesBar {
    background-color: $color-pearl;
    display: none;
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem;
    position: relative;
    text-align: right;
    z-index: 15;

    ul {
      display: flex;
      justify-content: flex-end;
    }

    @media (min-width: $breakpoint-sm) {
      display: block;
    }

    .NavItem {
      display: flex;
      align-items: center;

      &:hover :global(.MuiLink-underlineHover) {
        text-decoration: none;
      }

      & + .NavItem::before {
        content: "";
        display: block;
        background-color: $color-storm;
        height: 24px;
        margin: 0 7px;
        width: 1px;
      }
    }

    .UtilitiesButton {
      font-size: 0.875rem;
      color: $color-charcoal;

      @media (min-width: $breakpoint-md) {
        font-size: 1rem;
      }
    }
  }

  .LanguageSelectionButton {
    transition: border $transition-timing, padding-bottom $transition-timing,
      margin-bottom $transition-timing;
    border: 1px solid transparent;

    &--active {
      border: 1px solid $color-storm;
      border-bottom-color: $color-white;
      border-radius: 4px 4px 0 0;
      margin-bottom: -0.5rem;
      padding-bottom: 0.875rem;
    }

    .downArrow {
      margin-left: 1rem;
      transition: transform $transition-timing;

      &--up {
        transform: rotate(180deg);
      }
    }
  }

  .LanguageIcon {
    margin-right: 10px;
    width: 20px;
  }

  .NavigationBar {
    background-color: $color-white;
    position: relative;
    z-index: 12;

    // &--small {} // Unused
    // &--medium {}
    // &--large {}

    :global(.MuiContainer-root) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__Left {
      display: flex;
      align-items: flex-end;
    }

    &__Right {
      display: initial;
    }
  }

  .Footer {
    position: absolute;
    top: 3rem;
    right: 0;
  }
}

:export {
  breakpoint-sm: 800;
}
