@import "@bmi/styles";

// Responsive sizes
$logo-width: 60px;
$logo-width-lg: 80px;
$logo-margin: 10px;
$button-padding-sides: 12px;
$button-padding-left-lg: 14px;
$button-padding-right-lg: 8px;
$chevron-width: 16px;
$chevron-width-lg: 24px;
$chevron-margin-left-lg: 3px;

.MenuIsOpen {
  // This class is attached to the `body`
  overflow: hidden;

  .navigation-bar,
  .utilities-bar {
    padding-right: 15px;
  }
}

.Header {
  $transition-timing: 280ms cubic-bezier(0.4, 0, 0.2, 1);
  // Header specific breakpoints
  $breakpoint-header-sm: 800px;
  $breakpoint-header-md: 1080px;
  $breakpoint-header-lg: 1200px;

  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
  }

  .logo-link {
    display: inherit;
  }

  .logo {
    margin: $logo-margin $logo-margin $logo-margin 0;
    width: 50px;
    height: 50px;
  }

  .navigation {
    display: none;

    .nav-item {
      background-clip: padding-box;
      border: 1px solid transparent;
      border-radius: 3px 3px 0 0;
      min-width: auto;
      padding: 6px $button-padding-sides;
      transition: color $transition-timing, background-color $transition-timing,
        box-shadow $transition-timing, border $transition-timing;
      text-decoration: none;
      color: $color-slate;
      font-size: 16px;
      opacity: 1;

      &:hover {
        background-color: $color-pearl;
        color: $color-charcoal;
      }

      &:global(.Mui-selected) {
        border: 1px solid $color-storm;
        border-bottom-color: $color-white;
      }

      :global {
        .MuiTab-wrapper {
          flex-direction: column-reverse;
        }

        .MuiSvgIcon-root {
          margin-bottom: 0;
          height: $chevron-width;
          width: $chevron-width;
        }
      }

      &--no-children {
        display: flex;
        align-items: center;

        :global {
          .MuiTab-wrapper {
            padding-bottom: $chevron-width;
          }
        }
      }

      &--selected {
        border-bottom: 5px solid $color-theme-inter !important;
      }
    }

    :global {
      .MuiTabs-indicator {
        display: none;
      }
    }
  }

  .search-button {
    color: $color-theme-inter;

    // This breakpoint is not custom to this component
    @media (min-width: $breakpoint-lg) {
      &--is-on-search-page {
        display: none;
      }
    }
  }

  .basket-button {
    color: $color-white;
    margin-right: 10px;
  }

  .burger-button {
    color: $color-theme-inter;
    margin-left: 10px;
  }

  .close-button {
    background-color: $color-white;
    color: $color-slate;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    &:hover {
      background-color: $color-pearl;
      color: $color-charcoal;
    }
  }

  .backdrop {
    z-index: 12;
  }

  .drawer {
    background-color: $color-white;
    border: 1px solid $color-storm;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 315px;
    z-index: 13;
  }

  .nav-drawer {
    overflow: hidden;
  }

  .search-drawer-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    max-width: $breakpoint-xl;
    z-index: 12;

    &--hidden {
      display: none;
    }
  }

  .search-drawer {
    padding: 30px;

    :global(.MuiTypography-root) {
      margin-bottom: 32px;
    }
  }

  .language-drawer {
    z-index: 14;
    overflow: auto;
    background-color: $color-pearl;

    .close-button {
      background-color: $color-pearl;
      color: $color-charcoal;

      &:hover {
        background-color: $color-pearl;
        color: $color-charcoal;
      }
    }

    .back-navigation {
      display: block;
    }

    .back-button {
      font-weight: bold;
      margin-top: 10px;
      padding: 12px 10px 12px 2px;
      width: 230px;

      svg {
        width: 24px;
      }

      :global(.MuiButton-label) {
        justify-content: start;
      }
    }

    .chevronLeft {
      height: 1.5rem;
      transition: transform 120ms cubic-bezier(0.4, 0, 0.2, 1);
      transform: translateX(10px);
      margin-right: 15px;
    }

    .separator {
      border: none;
      border-top: 1px solid $color-storm;
      margin: 10px;
    }

    .language-container {
      padding: 28px 0px;

      @media (min-width: $breakpoint-lg) {
        padding: 32px 0px;
      }
    }
  }

  .utilities-bar {
    background-color: $color-pearl;
    display: none;
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem;
    position: relative;
    text-align: right;
    z-index: 15;

    ul {
      display: flex;
      justify-content: flex-end;
    }

    .nav-item {
      display: flex;
      align-items: center;

      &:hover :global(.MuiLink-underlineHover) {
        text-decoration: none;
      }

      & + .nav-item::before {
        content: "";
        display: block;
        background-color: $color-storm;
        height: 24px;
        margin: 0 7px;
        width: 1px;
      }
    }

    .utilities-button {
      font-size: 0.875rem;
      color: $color-charcoal;
    }

    .language-selection-button {
      transition: border $transition-timing, padding-bottom $transition-timing,
        margin-bottom $transition-timing;
      border: 1px solid transparent;

      &--active {
        border: 1px solid $color-storm;
        border-bottom-color: $color-pearl;
        border-radius: 4px 4px 0 0;
        margin-bottom: -0.5rem;
        padding-bottom: 0.875rem;
      }

      .down-arrow {
        margin-left: 1rem;
        transition: transform $transition-timing;

        &--up {
          transform: rotate(180deg);
        }
      }
    }

    .language-icon {
      margin-right: 10px;
      width: 20px;
    }
  }

  .navigation-bar {
    background-color: $color-white;
    position: relative;
    z-index: 12;

    :global(.MuiContainer-root) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__left {
      display: flex;
      align-items: flex-end;
      margin-bottom: -1px;
    }

    &__right {
      display: initial;
    }
  }

  .footer {
    position: absolute;
    top: 3rem;
    right: 0;
  }

  // Calculated header sizes.
  &--small {
    .logo {
      width: $logo-width;
      height: $logo-width;
    }

    .burger-button {
      display: none;
    }

    .search-button {
      color: $color-white;
    }

    .backdrop {
      z-index: 11;
    }

    .drawer {
      height: auto;
      top: auto;
      z-index: 11;
    }

    .language-drawer {
      z-index: 13;
    }

    .nav-drawer {
      left: 0;
      height: calc(100vh - 132px); // Header height md
      width: 100%;
      position: absolute;
    }

    .search-drawer-container {
      top: auto;
      z-index: 11;
    }

    .search-drawer {
      position: inherit;
    }

    .language-drawer {
      left: 0;
      height: calc(100vh - 52px); // Nav height md
      width: 100%;
      position: absolute;

      .back-navigation {
        display: none;
      }
    }

    .utilities-bar {
      display: block;
    }
  }

  &--medium {
    .navigation {
      display: block;
    }

    .navigation .nav-item {
      font-size: 16px;
      padding-bottom: 32px;
      padding-top: 31px;

      :global {
        .MuiTab-wrapper {
          flex-direction: row-reverse;
        }
      }

      &--no-children {
        :global {
          .MuiTab-wrapper {
            padding-bottom: 0;
          }
        }
      }
    }

    .nav-drawer {
      height: calc(100vh - 160px); // Header height lg
    }

    .language-drawer {
      height: calc(100vh - 56px); // Nav height lg
    }
    .search-drawer {
      position: inherit;
      right: 20px;
      width: 566px;
    }
  }

  &--large {
    .navigation {
      display: block;
    }
    .logo {
      width: $logo-width-lg;
      height: $logo-width-lg;
    }

    .navigation .nav-item {
      font-size: 18px;
      padding: 30px $button-padding-right-lg 30px $button-padding-left-lg;

      :global {
        .MuiSvgIcon-root {
          margin-left: $chevron-margin-left-lg;
          height: $chevron-width-lg;
          width: $chevron-width-lg;
        }
      }
    }

    .utilities-button {
      font-size: 1rem;
    }
  }
}

:export {
  breakpoint-sm: 800;
  char-width-sm: 8px;
  char-width-md: 8px;
  char-width-lg: 9px;
  logo-width-sm: $logo-width + $logo-margin;
  logo-width-md: $logo-width + $logo-margin;
  logo-width-lg: $logo-width-lg + $logo-margin;
  button-spacing-sm: $button-padding-sides * 2;
  button-spacing-md: $button-padding-sides * 2 + $chevron-width;
  button-spacing-lg: $button-padding-left-lg + $button-padding-right-lg +
    $chevron-width-lg + $chevron-margin-left-lg;
  search-icon-width: 48px;
  container-padding: 24px * 2;
}
