@import "~@bmi-digital/styles";

.RollerSelector {
  font-family: "Effra Regular";
  background: transparent;
  display: inline-block;
  color: $color-theme-inter;
  border: none;
  padding: 8px 15px;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  line-height: 1.5em;
  text-align: left;

  &:hover {
    background: rgba($color-black, 0.05);
    color: $color-theme-focus;
  }

  &--selected {
    font-family: "Effra Medium";
    font-weight: bold;
  }

  .icon {
    margin-left: 15px;
    display: inline-block;
    width: 24px;
    height: 24px;
    opacity: 0;
    transition: opacity ease-out 0.28s;
  }

  &--selected {
    .icon {
      opacity: 1;
    }
  }
}
