@import "@bmi-digital/styles";

.Card {
  $transition: 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  width: 100%;
  height: 100%;

  .body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
    box-shadow: elevation(1);

    @media (min-width: $breakpoint-sm) {
      flex-direction: column;
      height: 100%;
    }
  }

  .top-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    min-height: 80px;
    padding: 20px;
    width: 100%;
    background-color: $color-pearl;
    transition: $transition background-color;

    @media (min-width: $breakpoint-sm) {
      justify-content: center;
    }

    @media (min-width: $breakpoint-lg) {
      min-height: 100px;
    }
  }

  .heading {
    display: flex;
    align-items: center;
    color: $color-theme-inter;
    transition: $transition color;
  }

  .icon {
    margin-left: 12px;
    width: 24px;
    height: 24px;
  }

  .image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 80px;
    width: 100%;
    height: auto;
    opacity: 0.8;
    transition: $transition opacity;

    @media (min-width: $breakpoint-sm) {
      max-width: none;
      height: 140px;
    }
  }

  &:hover {
    .body {
      box-shadow: elevation(8);
    }

    .top-box {
      background-color: $color-white;
    }

    .image {
      opacity: 1;
    }

    .heading {
      color: $color-theme-focus;
    }
  }
}
