@import "~@bmi-digital/styles";

.option {
  mark {
    background-color: transparent;
    font-weight: bold;
  }
}

.start-adornment-icon {
  color: $color-slate;
  width: 18px;
  height: 18px;
  margin: 0 7px;
}
