@import "@bmi/styles";

.main {
  background-color: $color-white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.alert {
  margin: 1rem 0;
}
