@import "~@bmi-digital/styles";

.ResponseMessage {
  padding: 100px 0;

  .icon {
    width: auto;
    height: 80px;
    color: $color-theme-inter;
    &--error {
      color: $color-error;
    }
  }

  .title {
    padding: 10px 0;
  }
}
