@import "@bmi/styles";

.InputTextField {
  .textField {
    background-color: $color-white;
  }

  .numberInput {
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }
  }
}
