@import "~@bmi-digital/styles";

$light-theme: (
  "white": $color-white,
  "pearl": $color-pearl,
  "storm": $color-storm,
  "blue-100": $color-blue-100,
  "magenta-100": $color-magenta-100,
  "aqua-100": $color-aqua-100,
  "orange-100": $color-orange-100,
  "alert": $color-alert,
  "alabaster": $color-alabaster
);

$dark-theme: (
  "black": $color-black,
  "charcoal": $color-charcoal,
  "slate": $color-slate,
  "blue-800": $color-blue-800,
  "blue-900": $color-blue-900,
  "teal-400": $color-teal-400,
  "teal-500": $color-teal-500,
  "magenta-400": $color-magenta-400,
  "magenta-500": $color-magenta-500,
  "purple-400": $color-purple-400,
  "orange-500": $color-orange-500,
  "error": $color-error,
  "color-theme-secondary-1": $color-theme-secondary-1,
  "color-theme-secondary-2": $color-theme-secondary-2,
  "color-theme-secondary-3": $color-theme-secondary-3,
  "color-theme-secondary-4": $color-theme-secondary-4
);

.ColorPair {
  background-color: $color-white;
  color: $color-charcoal;
  -webkit-print-color-adjust: exact;

  @each $theme-name, $theme-color in $light-theme {
    &--#{$theme-name} {
      background-color: $theme-color;
      color: $color-charcoal;
    }
  }

  @each $theme-name, $theme-color in $dark-theme {
    &--#{$theme-name} {
      background-color: $theme-color;
      color: $color-white;
    }
  }
}

:export {
  light-theme: map-keys($light-theme);
  dark-theme: map-keys($dark-theme);
}
