@import "@bmi-digital/styles";

.ContainerDialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: elevation(24);
  border-radius: 3px;
  outline: none;
  width: calc(100% - 32px);
  max-height: calc(100% - 20px);
  display: flex;
  flex-flow: column nowrap;

  @media (min-width: $breakpoint-md) {
    width: calc(100% - 48px);
  }

  &--bg-white {
    background-color: $color-white;
  }

  &--bg-pearl {
    background-color: $color-pearl;
  }

  &--bg-alabaster {
    background-color: $color-alabaster;
  }

  &--width-sm {
    max-width: $breakpoint-sm;
  }

  &--width-md {
    max-width: $breakpoint-md;
  }

  &--width-lg {
    max-width: $breakpoint-lg;
  }

  &--width-xl {
    max-width: $breakpoint-xl;
  }

  .header {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  .iconButton {
    color: $color-charcoal;
    margin: 6px 6px 16px 16px;
  }

  .content {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    @media (max-width: $breakpoint-sm) {
      height: 100%;
    }
    @media (min-width: $breakpoint-xl) {
      height: 100%;
    }
  }
  @media (max-width: $breakpoint-sm) {
    max-height: 100%;
    box-shadow: none;
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
  @media (min-width: $breakpoint-xl) {
    height: 100%;
  }

  &--allowOverflow {
    .content {
      overflow: auto;
    }
  }
}
