@import "@bmi/styles";

.LanguageSelection {
  .heading {
    margin-top: 2rem;
    margin-bottom: 1.25rem;
  }

  .paragraph {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .container {
    margin: 0 -12px;
  }

  .item {
    padding: 0 12px;
  }

  .link {
    justify-content: start;
    width: 100%;
    margin: 0;
  }
}

.LanguageIcon {
  margin-right: 10px;
  width: 20px;
}
