@import "~@bmi-digital/styles";

.VerticalRoller {
  position: relative;

  .left-column {
    padding: 60px 0 0;
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-md) {
      padding-bottom: 60px;
    }
  }

  .selectors {
    margin: 32px 0 8px;

    @media (min-width: $breakpoint-md) {
      margin-bottom: 48px;
    }
  }

  .selector {
    margin-top: 8px;

    &:first-child {
      margin-top: 0;
    }
  }

  .controls {
    display: none;

    @media (min-width: $breakpoint-md) {
      display: flex;
      margin-top: auto;
      width: 70px;
      position: absolute;
      bottom: 60px;
      z-index: 2;
      overflow: unset;
      position: relative;
      bottom: auto;
    }

    // TODO: This is a temporary hack. When the vertical swiping will be
    // available, we'll revisit this.
    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 1px;
      right: -8px;
      bottom: -8px;
      left: -8px;
      background: linear-gradient(
        to right,
        $color-pearl 80%,
        rgba($color-pearl, 0) 100%
      );
    }
  }

  .right-column {
    margin-bottom: 60px;
  }

  .right-column .slide {
    display: block;

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .image {
    position: relative;
    display: block;
    width: 100%;
    max-height: 400px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 32px;
    &--with-image-source {
      &::before {
        content: "";
        width: 100%;
        display: block;
        padding-top: 100%;
      }
    }
    @media (min-width: $breakpoint-md) {
      height: 400px;
      &--with-image-source {
        &::before {
          content: none;
        }
      }
    }
  }

  .brand-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: $color-white;
    fill: $color-white;
    padding: 5px;
    height: 50px;
    z-index: 1;
  }

  .description {
    margin-bottom: 32px;
    font-size: 1rem;
  }

  .button {
    float: right;
  }
}
