@import "@bmi/styles";

.Select {
  &:global(.MuiFilledInput-root) {
    background-color: white;
    border-radius: 4px;
    border: 1px solid $bmi-storm;
    &:hover {
      border-color: $bmi-slate;
    }

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }

    &:global(.Mui-focused) {
      border-color: $bmi-cyan-500;
      box-shadow: 0 0 0 1px $bmi-cyan-500;

      &:global(.Mui-error) {
        box-shadow: 0 0 0 1px $bmi-error;
      }
    }

    &:global(.Mui-error) {
      border-color: $bmi-error;
    }
  }

  &:global(.Mui-disabled) {
    border: 1px solid rgba($bmi-storm, 0.61);
    color: rgba($bmi-slate, 0.61);

    :global(.MuiOutlinedInput-notchedOutline) {
      border: 0;
    }

    &:global:hover {
      border-color: rgba($bmi-storm, 0.61);
      color: rgba($bmi-slate, 0.61);
    }
  }
}
