@import "@bmi/styles";

.main {
  background-color: $color-white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
}

.body {
  padding: 1.5rem 0;
}

.businessType {
  margin-top: 1rem !important;
}
