.ListItem {
  min-height: 70px;
  width: 100%;
  display: flex;
  &__icon {
    margin-top: 20px;
    height: 100%;
    width: 40px;
    & :global {
      .MuiSvgIcon-root {
        font-size: 28px;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
  }
}
