.ListItem {
  min-height: 70px;
  width: 100%;
  display: flex;

  .icon {
    margin-top: 18px;
    height: 100%;
    width: 40px;
    & :global {
      .MuiSvgIcon-root {
        font-size: 28px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .title {
    margin-bottom: 20px;
  }
}
