@import "@bmi-digital/styles";

.TextField {
  .Error {
    position: absolute;
    right: 10px;
  }

  :global {
    .MuiFilledInput-root {
      background-color: white;
      border-radius: 4px;
      border: 1px solid $color-storm;

      &:hover {
        border-color: $color-slate;
      }

      &::before {
        content: none;
      }

      &::after {
        content: none;
      }

      &.Mui-focused {
        border-color: $color-theme-inter;
        box-shadow: inset 0 0 0 1px $color-theme-inter;

        &.Mui-error {
          box-shadow: inset 0 0 0 1px $color-error;
        }
      }

      &.Mui-error {
        border-color: $color-error;
      }
    }

    .MuiFilledInput-input {
      padding: 26px 13px 9px 14px;
    }

    .MuiInputLabel-filled {
      margin-left: 2px;
    }

    .Mui-error,
    .Mui-error .MuiOutlinedInput-notchedOutline {
      border-color: $color-error;
    }

    .Mui-disabled {
      opacity: 0.38;

      &:hover {
        border-color: inherit;
      }
    }

    .MuiFormLabel-root {
      font-size: 16px;

      &:not(.Mui-error):not(.Mui-disabled) {
        color: $color-slate;
      }

      &.Mui-focused:not(.Mui-error) {
        color: $color-theme-inter;
      }
    }

    .MuiInputBase-inputMultiline {
      line-height: 1.4;
    }

    .MuiFilledInput-inputMultiline {
      padding: 0;
    }
  }

  &--leftAdornment {
    :global {
      .MuiInputLabel-root.MuiInputLabel-shrink
        ~ .MuiInputBase-root
        > .MuiInputAdornment-filled:not(.MuiInputAdornment-hiddenLabel) {
        margin-top: 16px;
        transition: all 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      }
      .MuiInputLabel-root:not(.MuiInputLabel-shrink) {
        margin-left: 34px;
      }
      .MuiFormLabel-root.MuiInputLabel-root {
        transition: all 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
          transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      }
      .MuiInputBase-root.MuiInputBase-formControl.MuiInputBase-adornedEnd {
        flex-direction: row-reverse;
        padding-left: 8px;
        .MuiInputBase-input {
          padding-left: 10px;
        }
        .MuiInputAdornment-root {
          margin-right: 0;
        }
      }
    }
  }
  &--error {
    :global {
      .MuiInputBase-input {
        padding-right: 20px;
      }
    }
  }
}
