@import "@bmi-digital/styles";

.ExpandableLinksTextCards {
  border-bottom: 1px solid $color-storm;
  padding-top: 40px;
  padding-bottom: 60px;

  .title {
    // TODO: This MUI spacing * 2. Can we expose this as variable?
    margin-bottom: 16px;
  }

  .link {
    display: block;
    font-size: 18px;
    margin-bottom: 16px;
  }

  .shown-links-container {
    .link:last-child {
      margin-bottom: 0;
    }
  }

  .hidden-links-container {
    .link:first-child {
      margin-top: 16px;
    }

    .link:last-child {
      margin-bottom: 0;
    }
  }

  .link-wrapper {
    display: flex;
    margin-bottom: 8px;
  }

  .icon {
    color: $color-theme-inter;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}
