##############
# GLOBAL GCP/FIRESTORE CONFIG
##############
GCP_PROJECT_ID=dxb-development

FIRESTORE_PRIVATE_KEY_ID=
FIRESTORE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n ... \n-----END PRIVATE KEY-----\n"
FIRESTORE_CLIENT_EMAIL=
FIRESTORE_CLIENT_ID=
FIRESTORE_AUTH_URI=
FIRESTORE_TOKEN_URI=
FIRESTORE_AUTH_PROVIDER_X509_CERT_URL=
FIRESTORE_CLIENT_X509_CERT_URL=

##############
# COUNTRY DETAILS
##############
# SPACE_ID=0000000000
# ACCESS_TOKEN=0000000000000000000000000000000000000000000
# ENVIRONMENT=master

##############
# To add more country sites, add and increment the index suffix:
##############
# SPACE_ID_1=0000000000
# ACCESS_TOKEN_1=0000000000000000000000000000000000000000000
# ENVIRONMENT_1=master
