##############
# GLOBAL GCP/FIRESTORE CONFIG
##############
GCP_PROJECT_ID=dxb-development

FIRESTORE_PRIVATE_KEY_ID=
FIRESTORE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n ... \n-----END PRIVATE KEY-----\n"
FIRESTORE_CLIENT_EMAIL=
FIRESTORE_CLIENT_ID=
FIRESTORE_AUTH_URI=
FIRESTORE_TOKEN_URI=
FIRESTORE_AUTH_PROVIDER_X509_CERT_URL=
FIRESTORE_CLIENT_X509_CERT_URL=

# PIM_CLASSIFICATION_CATALOGUE_NAMESPACE=bmiClassificationCatalog/1.0

##############
# ELASTIC SEARCH
##############
GATSBY_ES_ENDPOINT=https://b1e013aa1d3f4548af2774f545343e45.europe-west3.gcp.cloud.es.io:9243
GATSBY_ES_USERNAME=
GATSBY_ES_PASSWORD=

##############
# FUNCTIONS
##############
GATSBY_GCP_FORM_UPLOAD_ENDPOINT=
GATSBY_GCP_FORM_SUBMIT_ENDPOINT=
GATSBY_GCP_DOWNLOAD_ZIP_ENDPOINT=https://europe-west3-dxb-development.cloudfunctions.net/file-download

##############
# Contentful global settings
##############
# An optional setting. Defaults to cdn.contentful.com
# CONTENT_API_HOST=preview.contentful.com

##############
# COUNTRY DETAILS
##############
# SPACE_ID=0000000000
# ACCESS_TOKEN=0000000000000000000000000000000000000000000
# ENVIRONMENT=master

##############
# To add more country sites, add and increment the index suffix:
##############
# SPACE_ID_1=0000000000
# ACCESS_TOKEN_1=0000000000000000000000000000000000000000000
# ENVIRONMENT_1=master
