@import "@bmi-digital/styles";

.Visualiser {
  height: 100vh;
  width: 100vw;

  &--secondary {
    box-shadow: none;

    .group-title {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }

  .share-button {
    margin: 6px 0;
  }

  .content {
    overflow-y: auto;
    height: 100%;
  }

  .progress-container {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 3px;
  }

  .details {
    position: absolute;
    top: 70px;
    left: 30px;
    pointer-events: none;
    right: 30px;

    :global {
      [class*="MuiPaper-root"] {
        pointer-events: all;
        background-color: rgba(255, 255, 255, 0.75);
        box-shadow: none;
      }
    }

    .details-logo {
      margin-bottom: 0.5rem;
    }

    .details-title {
      margin-bottom: 0.5rem;
    }

    @media (min-width: $breakpoint-md) {
      .details-logo {
        margin-bottom: 1rem;
      }

      .details-title {
        margin-bottom: 1rem;
      }
    }
  }

  .actions {
    position: absolute;
    border: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-blue-800;
    min-height: 5rem;
    padding: 0.875rem;

    .icon {
      fill: rgba(255, 255, 255, 0.8);
    }

    @media (max-width: $breakpoint-sm) {
      :global {
        [class*="MuiButton-label"] {
          display: flex;
          flex-flow: column;
        }
      }
    }
  }

  .container {
    @media (min-width: $breakpoint-sm) {
      padding: 0px 20px 20px;
    }

    &--viewer {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      :global {
        [class*="canvas:focus"] {
          outline: none;
        }
      }
    }
  }

  .active-selection-option {
    padding: 0px;
    border: 2px solid $color-theme-accent;
  }
}

.Visualiser-popover {
  :global {
    [class*=".MuiPopover-paper"] {
      padding: 0 10px;

      @media (max-width: $breakpoint-sm) {
        max-width: 100%;
        width: 100%;
        left: 0 !important;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 10px;
        border-top: 1px solid $color-pearl;
      }
    }
  }
}
