@import "~@bmi-digital/styles";

.Visualiser {
  height: 100vh;
  width: 100vw;

  &>div:first-child button{
    margin: 10px 6px 10px 16px;
  }

  &--secondary {
    box-shadow: none;

    .group-title {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }

  .share-button {
    width: 48px;
    height: 48px;
    min-width: unset;
  }

  .content {
    overflow-y: auto;
    background-color: $color-pearl;
    padding: 0;
    height: 100%;

    &-title {
      margin: 6px auto 16px 30px;
      align-self: center;
    }
  }

  .progress-container {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 3px;
  }

  .details {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 18px 10px;

    :global {
      [class*="MuiPaper-root"] {
        pointer-events: all;
        background-color: rgba(255, 255, 255, 0.75);
        box-shadow: none;
      }
    }

    &-actions {
      display: flex;
      gap: 12px;
      margin-left: auto;

      @media (max-width: $breakpoint-sm) {
        width: 100%;
      }

      button:first-child {
        flex: 1;
      }
    }

    &-text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
      gap: 12px;
      align-items: flex-start;

      &-actions {
        margin-left: unset;
      }
    }
  }

  .actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-blue-800;
    min-height: 5rem;
    padding: 0.875rem;

    .icon {
      fill: rgba(255, 255, 255, 0.8);
    }

    @media (max-width: $breakpoint-sm) {
      :global {
        [class*="MuiButton-label"] {
          display: flex;
          flex-flow: column;
        }
      }
    }

    @media (max-width: 376px) {
      justify-content: space-around;
    }
  }

  .container {
    @media (min-width: $breakpoint-sm) {
      padding: 0px 20px;
    }

    &--viewer {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-height: 0;

      :global {
        [class*="canvas:focus"] {
          outline: none;
        }
      }

      @media (max-width: $breakpoint-sm) {
        min-height: auto;
      }
    }
  }

  .active-selection-option {
    padding: 0px;
    border: 2px solid $color-theme-accent;
  }
}

.Visualiser-popover {
  :global {
    [class*=".MuiPopover-paper"] {
      padding: 0 10px;

      @media (max-width: $breakpoint-sm) {
        max-width: 100%;
        width: 100%;
        left: 0 !important;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 10px;
        border-top: 1px solid $color-pearl;
      }
    }
  }
}
