@import "~@bmi-digital/styles";

$rail-track-color: rgba(0, 159, 227, 0.3);
$progress-color: #009fe3;

.linearProgressContainer {
  position: relative;

  .linearProgress {
    height: 24px;
    border-radius: 24px;
    background-color: $rail-track-color;
    > div {
      background-color: $progress-color;
      border-radius: 24px;
    }
  }

  .linearProgressLabel {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
  }
}
