@import "@bmi-digital/styles";

.main {
  background-color: $color-white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.header {
  background-color: $color-pearl;
  padding: 1.5rem;
  display: flex;
  align-items: center;
}

.nameTag {
  margin-left: 1rem;
}

.name {
  font-weight: bold !important;
}

.body {
  padding: 0 1.5rem 1rem 1.5rem;
}
