.userMenu {
  display: flex;
  align-items: center;
}

.avatar {
  background-color: #c5c5c5;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 28px;
  margin-right: 0.5rem;
}
