@import "@bmi/styles";

.Section {
  padding: 60px 0;
  background-color: transparent;

  &--alabaster {
    background-color: $bmi-alabaster;
  }

  &--pearl {
    background-color: $bmi-pearl;
  }

  &--white {
    background-color: $bmi-white;
  }
}
