@import "@bmi/styles";

.Section {
  padding: 60px 0;
  background-color: transparent;
  overflow: hidden;

  &--overflow-visible {
    overflow: visible;
  }

  &--alabaster {
    background-color: $color-alabaster;
  }

  &--pearl {
    background-color: $color-pearl;
  }

  &--white {
    background-color: $color-white;
  }

  &--no-spacing {
    padding: 0;
  }

  &--slim {
    padding: 32px 0;
  }

  .title {
    margin-bottom: 60px;
  }
}
