@import "@bmi/styles";

.Section {
  padding: 60px 0;
  background-color: transparent;

  &--alabaster {
    background-color: $color-alabaster;
  }

  &--pearl {
    background-color: $color-pearl;
  }

  &--white {
    background-color: $color-white;
  }

  .title {
    margin-bottom: 60px;
  }
}
