@import "~@bmi-digital/styles";

.CalculatorStepper {
  height: 100%;

  .title {
    padding: 0;
  }

  .item {
    display: none;
  }

  .step-title {
    margin-top: 48px;
    text-align: center;

    @media (max-width: $breakpoint-sm) {
      margin-top: 36px;
    }
  }

  .subtitle {
    margin-top: 1rem;
    text-align: center;
  }

  .computation {
    margin-top: 1rem;
    text-align: center;
  }

  .component {
    text-align: center;
    padding: 1rem;
  }

  .content {
    padding-top: 64px;
  }

  .hr {
    margin-top: 52px;
  }

  .footer {
    padding: 24px 30px;
    background-color: $color-white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    border-top: 1px solid $color-alabaster;

    .footerButton {
      height: 44px;

      &--link {
        margin-right: 60px;

        @media (max-width: $breakpoint-md) {
          margin-right: 0;
        }
      }
    }

    .skipAndNextButtons {
      margin-left: auto;
    }

    @media (max-width: $breakpoint-md - 1px) {
      flex-direction: column;
      padding: 16px 24px;

      .footerButton {
        width: 100%;

        &:not(:first-child) {
          margin-top: 12px;
        }
      }
    }
  }

  .form,
  .stepWithoutForm {
    height: 100%;

    &--sm-padding,
    &--md-padding,
    &--lg-padding {
      padding-bottom: 96px;

      .formContent {
        padding-bottom: 0;
      }
    }

    @media (max-width: $breakpoint-md) {
      &--sm-padding {
        padding-bottom: 76px;
      }

      &--md-padding {
        padding-bottom: 132px;
      }

      &--lg-padding {
        padding-bottom: 188px;
      }
    }
  }

  .formContent {
    overflow: hidden auto;
    padding: 0 32px 32px;
    height: 100%;
  }

  .spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 100px /* container margins and paddings */);
  }
}
