@import "~@bmi-digital/styles";

.SpotlightHero {
  position: relative;

  @media (min-width: $breakpoint-sm) {
    height: 630px;
  }

  &--keyline {
    border-bottom: 8px solid $color-theme-accent;
  }

  .image {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .video {
    position: absolute;
    top: 0;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      opacity: 0.8;
      top: 0;
    }

    &--cyan::after {
      background-color: $color-cyan-700;
    }
    &--blue::after {
      background-color: $color-blue-900;
    }
    &--charcoal::after {
      background-color: $color-charcoal;
    }
    &--teal::after {
      background-color: $color-teal-500;
    }
  }

  .content {
    position: relative;
    z-index: 1;
    color: white;
    max-width: 600px;
    padding-top: 28px;
    padding-bottom: 40px;
    @media (min-width: $breakpoint-sm) {
      margin-bottom: auto;
    }
  }

  .text {
    min-height: auto;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .cta {
    margin-top: 24px;
    display: block;
    width: fit-content;
  }

  .header {
    position: relative;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    width: 100%;

    .header-container {
      min-height: 200px;
      display: flex;
      flex-direction: column;

      .breadcrumbs {
        margin-top: 24px;
      }

      .title {
        position: relative;
        z-index: 2;
        color: white;
        margin-top: auto;
      }
    }
  }
}
