@import "@bmi/styles";

.ArrowControl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  // TODO: Cannot find the elevation specification.
  box-shadow: elevation(5);

  &--left {
    left: 0;
    transform: translate(-50%, -50%);
  }

  &--right {
    right: 0;
    transform: translate(50%, -50%);
  }

  .chevron {
    width: 32px;
    height: 32px;
  }
}
