@import "@bmi/styles";

.main {
  margin-top: 1.5rem;
  padding: 0;
}

.image {
  display: block;
  width: 100%;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  font-size: 1rem;
  background-color: $color-pearl;
  color: $color-cyan-500;
  transition: 0.15s;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: $color-cyan-600;
  }
}

.link {
  font-family: "Effra Medium", sans-serif !important;
}

.icon {
  font-size: 16px;
  margin-left: 5px;
}
