@import "./utils.scss";

$color-body-bg-base: #fff;
$color-alabaster-a: #fafafa;
$color-alabaster: #f0f0f0;
$color-alert: #ffc72c;
$color-aqua-100: #d9f0ed;
$color-aqua-200: #8dd3c9;
$color-aqua-400: #41b6a5;
$color-aqua-500: #359486;
$color-black: #000000;
$color-blue-100: #d6d7dc;
$color-blue-300: #858895;
$color-blue-800: #34384f;
$color-blue-900: #292d41;
$color-charcoal: #3b3b3b;
$color-cyan-100: #ccecf9;
$color-cyan-200: #66c5ee;
$color-cyan-300: #33b2e9;
$color-cyan-400: #009fe3;
$color-cyan-500: #0072b0;
$color-cyan-600: #005b8c;
$color-cyan-700: #004b73;
$color-error: #d6001c;
$color-magenta-100: #f2cfdb;
$color-magenta-200: #d97094;
$color-magenta-400: #bf104d;
$color-magenta-500: #940c3b;
$color-orange-100: #fad8cf;
$color-orange-200: #f08970;
$color-orange-400: #e63b11;
$color-orange-500: #ad2c0c;
$color-pearl: #f7f7f7;
$color-purple-100: #e5cfe0;
$color-purple-200: #b26ea1;
$color-purple-400: #7f0e62;
$color-purple-500: #660b4f;
$color-slate: #70706f;
$color-storm: #cccccc;
$color-success: #009a44;
$color-teal-100: #d2e4e8;
$color-teal-200: #79adbb;
$color-teal-400: #20778e;
$color-teal-500: #1a6073;
$color-white: #ffffff;

$color-brand-red-300: #fd543e;
$color-brand-red: #e30613;
$color-brand-red-inter: #d10513;
$color-brand-red-focus: #b30510;
$color-orange-400: #e63b11;
$color-royal-blue: #004f9f;
$color-royal-blue-focus: #003d7a;
$color-purple-300: #8985d6;
$color-purple: #201e5b;
$color-purple-focus: #161542;
$color-navy-blue: #133579;
$color-navy-blue-focus: #0e2a5d;
$color-sealoflex-blue: #00539c;
$color-sealoflex-blue-focus: #003c70;
$color-brand-green: #2aa94e;
$color-brand-green-inter: #1f7a39;
$color-brand-green-focus: #1a6531;

// css variables #{$color-black}
:root {
  --color-theme-accent-300: #{$color-cyan-400};
  --color-theme-accent: #{$color-cyan-400};
  --color-theme-accent-rgb: #{hexToRGB($color-cyan-400)};
  --color-theme-inter: #{$color-cyan-500};
  --color-theme-inter-rgb: #{hexToRGB($color-cyan-500)};
  --color-theme-focus: #{$color-cyan-600};
  --color-theme-inter-dark: #{$color-cyan-500};
  --color-theme-inter-dark-rgb: #{hexToRGB($color-cyan-500)};
  --color-theme-focus-dark: #{$color-cyan-600};

  // Secondary(action cards colors)
  --color-theme-secondary-1: #{$color-cyan-700};
  --color-theme-secondary-2: #{$color-slate};
  --color-theme-secondary-3: #{$color-blue-800};
  --color-theme-secondary-4: #{$color-charcoal};
}

// brand variables
$color-theme-accent-300: var(--color-theme-accent-300);
$color-theme-accent: var(--color-theme-accent);
$color-theme-accent-rgb: var(--color-theme-accent-rgb);
$color-theme-inter: var(--color-theme-inter);
$color-theme-inter-rgb: var(--color-theme-inter-rgb);
$color-theme-focus: var(--color-theme-focus);
$color-theme-inter-dark: var(--color-theme-inter-dark);
$color-theme-inter-dark-rgb: var(--color-theme-inter-dark-rgb);
$color-theme-focus-dark: var(--color-theme-focus-dark);

// Secondary(action cards colors)
$color-theme-secondary-1: var(--color-theme-secondary-1);
$color-theme-secondary-2: var(--color-theme-secondary-2);
$color-theme-secondary-3: var(--color-theme-secondary-3);
$color-theme-secondary-4: var(--color-theme-secondary-4);

// exported variables
:export {
  color-alert: $color-alert;
  color-success: $color-success;
  color-primary-main: $color-cyan-500;
  color-text-primary: $color-charcoal;
}
