$bmi-pearl: #f7f7f7;
$bmi-blue-900: #292d41;
$bmi-white: #ffffff;
$bmi-storm: #cccccc;
$bmi-cyan-400: #009fe3;
$bmi-blue-800: #34384f;
$bmi-slate: #70706f;
$bmi-cyan-500: #007bbd;
$bmi-black: #000000;
$bmi-charocal: #3b3b3b;
$bmi-alabaster: #f0f0f0;
$bmi-error: #d6001c;
$bmi-cyan-100: #ccecf9;
$bmi-cyan-200: #66c5ee;
$bmi-cyan-300: #33b2e9;
$bmi-cyan-600: #005b8c;
$bmi-cyan-700: #004b73;
$bmi-blue-100: #d6d7dc;
$bmi-blue-300: #858895;
$bmi-teal-100: #d2e4e8;
$bmi-teal-200: #79adbb;
$bmi-teal-400: #20778e;
$bmi-teal-500: #1a6073;
$bmi-magenta-100: #f2cfdb;
$bmi-magenta-200: #d97094;
$bmi-magenta-400-bmi-magenta: #bf104d;
$bmi-magenta-500: #940c3b;
$bmi-aqua-100: #d9f0ed;
$bmi-aqua-200: #8dd3c9;
$bmi-aqua-400-bmi-aqua: #41b6a5;
$bmi-aqua-500: #359486;
$bmi-purple-100: #e5cfe0;
$bmi-purple-200: #b26ea1;
$bmi-purple-400-bmi-purple: #7f0e62;
$bmi-purple-500: #660b4f;
$bmi-orange-100: #fad8cf;
$bmi-orange-200: #f08970;
$bmi-orange-400-bmi-orange: #e63b11;
$bmi-orange-500: #ad2c0c;
$bmi-alert: #ffc72c;
$bmi-success: #009a44;
