$color-pearl: #f7f7f7;
$color-blue-900: #292d41;
$color-white: #ffffff;
$color-storm: #cccccc;
$color-cyan-400: #009fe3;
$color-blue-800: #34384f;
$color-slate: #70706f;
$color-cyan-500: #007bbd;
$color-black: #000000;
$color-charcoal: #3b3b3b;
$color-alabaster: #f0f0f0;
$color-error: #d6001c;
$color-cyan-100: #ccecf9;
$color-cyan-200: #66c5ee;
$color-cyan-300: #33b2e9;
$color-cyan-600: #005b8c;
$color-cyan-700: #004b73;
$color-blue-100: #d6d7dc;
$color-blue-300: #858895;
$color-teal-100: #d2e4e8;
$color-teal-200: #79adbb;
$color-teal-400: #20778e;
$color-teal-500: #1a6073;
$color-magenta-100: #f2cfdb;
$color-magenta-200: #d97094;
$color-magenta-400: #bf104d;
$color-magenta-500: #940c3b;
$color-aqua-100: #d9f0ed;
$color-aqua-200: #8dd3c9;
$color-aqua-400: #41b6a5;
$color-aqua-500: #359486;
$color-purple-100: #e5cfe0;
$color-purple-200: #b26ea1;
$color-purple-400: #7f0e62;
$color-purple-500: #660b4f;
$color-orange-100: #fad8cf;
$color-orange-200: #f08970;
$color-orange-400: #e63b11;
$color-orange-500: #ad2c0c;
$color-alert: #ffc72c;
$color-success: #009a44;

:export {
  color-alert: $color-alert;
  color-success: $color-success;
  color-primary-main: $color-cyan-500;
  color-text-primary: $color-charcoal;
}
