DOCEBO_API_URL: "https://bmisandbox.docebosaas.com"
DOCEBO_API_MAX_RECORD_LIMIT: 500
USER_CERTIFICATION_REPORT_ID: 7
PGUSER:
PGHOST:
PGPASSWORD:
PGDATABASE:
PGPORT:
PG_SSL_HOST:
SECRET_MAN_GCP_PROJECT_NAME:
GOOGLE_APPLICATION_CREDENTIALS: ../../frontend/gcp.json
NODE_ENV: "local"
