DOCEBO_API_URL: "https://bmisandbox.docebosaas.com"
DOCEBO_API_MAX_RECORD_LIMIT: 500
DOCEBO_API_CLIENT_ID:
DOCEBO_API_CLIENT_SECRET:
DOCEBO_API_USERNAME:
DOCEBO_API_PASSWORD:

PG_SSL_CLIENT_KEY:
PG_SSL_CLIENT_CERT:
PG_SSL_SERVER_CA:
COMPANIES_DB_PASSWORD:
COMPANIES_DB_HOST:

USER_CERTIFICATION_REPORT_ID: 7
SECRET_MAN_GCP_PROJECT_NAME:
GOOGLE_APPLICATION_CREDENTIALS: ../../frontend/gcp.json
FRONTEND_API_URL: "http://en.local.host:3000/api/graphql"
GATEWAY_API_KEY:
