@import "@bmi-digital/styles";

.main {
  flex: 1;
  display: flex;
  box-sizing: border-box;
  width: calc(100% + 1.5rem);
  margin: -0.75rem;
  flex-wrap: wrap;
  > * {
    margin: 0.75rem;
    flex-basis: calc(50% - 1.5rem) !important;
    flex: 1;
  }
}
