@import "@bmi-digital/styles";

.contentContainer {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $breakpoint-md) {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 320px;
    grid-template-rows: 1fr;
    gap: 0px 1.5rem;
    align-items: start;
  }
}

.companyDetailsContainer {
  margin-top: 1.5rem;
}

.leaveButtonContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}
