@import "~@bmi-digital/styles";

.sidebarNavigation {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px 0;
}

.desktop {
  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.sidebarLink {
  display: flex;
  align-items: center;
  padding: 9px 21px;
  color: $color-slate;
  font-size: 16px;
  text-decoration: none;
  transition: 0.15s;
  cursor: pointer;

  svg {
    margin-right: 8px;
  }

  &:not(.selected):hover {
    background-color: $color-pearl;
    color: $color-charcoal;
  }
}
