@import "@bmi/styles";

.Navigation {
  $navigation-padding: 50px;
  $navigation-top-spacing: 1rem;
  // Breakpoint overrides
  $breakpoint-sm: 800px;

  height: 100%;
  margin: auto;
  max-width: $breakpoint-xl;
  padding: 0 $navigation-padding;
  position: relative;

  @media (min-width: $breakpoint-sm) {
    top: $navigation-top-spacing;
  }

  .NavigationList {
    $border-right-width: 1px;

    background-color: $color-white;
    box-sizing: border-box;
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;

    @media (min-width: $breakpoint-sm) {
      border-right: $border-right-width solid $color-storm;
      width: calc(25vw - #{$navigation-padding / 2});
    }

    &--show {
      display: block;
    }

    .NavigationList {
      left: calc(100% + #{$border-right-width});

      &--footer {
        z-index: 0;

        @media (min-width: $breakpoint-sm) {
          left: 75vw;
        }

        @media (max-width: $breakpoint-sm) {
          display: none;
        }
      }

      .NavigationList .NavigationList .NavigationList {
        border-right: none;
      }
    }

    > ul {
      height: 100%;
      list-style: none;
      overflow-y: auto;

      @media (min-width: $breakpoint-sm) {
        height: calc(100% - #{$navigation-top-spacing});
      }
    }

    .Separator {
      border: none;
      border-top: 1px solid $color-storm;
      margin: 10px;
    }

    .Image {
      max-width: 100%;
      padding: 0 10px;
    }
  }

  & > .NavigationList {
    left: 0%;
    transition: left 0.2s ease-out;

    @media (min-width: $breakpoint-sm) {
      border-right: none;
      width: 0;
    }
  }

  @for $i from 0 through 4 {
    .Offset#{$i * 100} {
      left: calc(-100% * #{$i});

      @media (min-width: $breakpoint-sm) {
        left: initial;
      }
    }
  }

  .Utilities {
    background-color: $color-pearl;
    margin: 10px 0;
    padding: 10px 0;
  }

  .MainMenuTitle {
    margin: 8px 0;
    border-bottom: 1px solid $color-alabaster;
    font-weight: bold;
    margin: 15px 10px 10px;
    padding: 0 46px 19px 10px;
    width: 50%;
  }

  .NavigationListButton {
    svg {
      height: 2rem;
      margin: -7px 0;

      &.bold {
        margin-bottom: -10px;
        margin-right: 10px;
      }
    }

    :global {
      .MuiButton-label {
        justify-content: space-between;
      }

      .MuiButton-startIcon,
      .MuiButton-endIcon {
        display: flex;
        align-items: center;
        height: 1rem;
        transition: transform 120ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .MuiButton-startIcon {
        transform: translateX(10px);
        margin-right: 15px;
      }

      .MuiButton-endIcon {
        transform: translateX(-10px);
      }
    }

    &:hover :global(.MuiButton-startIcon),
    &--active :global(.MuiButton-startIcon),
    &:hover :global(.MuiButton-endIcon),
    &--active :global(.MuiButton-endIcon) {
      transform: translateX(0px);
    }
  }

  .NavigationListType {
    display: inline-block;
    margin: 32px 20px 16px;

    svg {
      height: 2rem;
    }

    @media (min-width: $breakpoint-sm) {
      margin: 10px 10px 16px;
    }
  }

  .BackNavigation {
    @media (min-width: $breakpoint-sm) {
      display: none;
    }
  }

  .BackButton {
    font-weight: bold;
    margin-top: 10px;
    padding: 12px 10px 12px 2px;
    width: 250px;

    svg {
      width: 24px;
    }

    :global(.MuiButton-label) {
      justify-content: start;
    }
  }
}

.NavigationListButton {
  // Breakpoint overrides
  $breakpoint-sm: 800px;

  color: $color-slate;
  font-size: 1.125rem;
  line-height: 1;
  margin: 0 10px;
  padding: 12px 10px;
  transition: background-color 120ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc(100% - 20px);

  @media (min-width: $breakpoint-sm) {
    margin: 0;
    width: 100%;
  }

  &:hover {
    color: $color-charcoal;
  }

  &--active {
    background-color: rgba(59, 59, 59, 0.04);
  }
}
