BUILD_TRIGGER_ENDPOINT:

DOCEBO_API_URL:
DOCEBO_API_CLIENT_ID:
DOCEBO_API_CLIENT_SECRET:
DOCEBO_API_USERNAME:
DOCEBO_API_PASSWORD:
DOCEBO_API_CATALOGUE_IDS:

ES_APIKEY:
ES_CLOUD_ID:
ES_INDEX_NAME_TRAININGS:

GCP_PROJECT_ID:
FIRESTORE_ROOT_COLLECTION:
