@import "@bmi/styles";

.DocumentSimpleTableResults {
  .table-cell {
    vertical-align: middle;
  }

  :global {
    .MuiTableBody-root {
      .MuiTableRow-root {
        &:nth-of-type(even) {
          background-color: initial;
        }
      }
    }
  }

  .row {
    &--checked {
      // Hack for position relative for tr
      // See https://github.com/w3c/csswg-drafts/issues/1899
      transform: scale(1);
      background-color: rgba($color-cyan-400, 0.1) !important;
      box-shadow: inset 0px 0px 0px 1px $color-cyan-400;
    }
  }

  .download-icon {
    width: 32px;
    height: 32px;
  }
}
