@import "@bmi/styles";

.ServiceLocationSection {
  .search {
    margin-bottom: 0;

    .location-autocomplete {
      margin-bottom: 8px;
    }

    .and-or-label {
      text-align: center;
    }
  }

  .list {
    margin-top: -24px;
    max-height: 640px;
    overflow: auto;

    @media (min-width: $breakpoint-md) {
      margin: 0;
    }
  }

  .no-results {
    text-align: center;
  }

  .map {
    margin-top: -24px;
    height: calc(100vh - 48px); // Note: minus tab label height.

    @media (min-width: $breakpoint-md) {
      margin: 0 0 0 24px;
      height: 640px;
    }
  }
}
