@import "@bmi-digital/styles";

.productCard {
  margin-bottom: 1rem;
  padding: 0.6rem 0;
  &__title {
    margin-bottom: 5px;
  }
  &__description {
    margin-bottom: 15px;
  }
  &__footer {
    margin-top: 30px;
  }
  &__logo {
    width: 32px;
    height: 32px;
  }
}
