@import "@bmi/styles";

.main {
  display: block;
}
.body {
  margin: 10px 0px;
}

.productCard {
  margin-bottom: 1rem;
  padding: 0.6rem;
  border: 1px solid $color-storm;
  &__title {
    margin: 5px;
  }
  &__footer {
    margin: 10px 0px;
  }
  &__logo {
    width: 32px;
    height: 32px;
  }
}
