@import "@bmi/styles";

.body {
  margin-bottom: 1rem;
  padding: 0.6rem 0;
  &__title {
    margin-bottom: 15px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &__logo {
    width: 32px;
    height: 32px;
  }
}
