@import "~@bmi-digital/styles";

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-pearl;
  font-weight: bold;
  text-align: center;
  padding: 3rem 2rem;
  margin-top: 1rem;
  min-height: 200px;
}
