@import "~@bmi-digital/styles";

.Dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: elevation(24);
  border-radius: 3px;
  outline: none;
  width: calc(100% - 32px);
  max-height: calc(100% - 20px);
  display: flex;
  flex-flow: column nowrap;

  @media (min-width: $breakpoint-md) {
    width: calc(100% - 48px);
  }

  &--bg-white {
    background-color: $color-white;
  }

  &--bg-pearl {
    background-color: $color-pearl;
  }

  &--bg-alabaster {
    background-color: $color-alabaster;
  }

  &--width-sm {
    max-width: $breakpoint-sm;
  }

  &--width-md {
    max-width: $breakpoint-md;
  }

  &--width-lg {
    max-width: $breakpoint-lg;
  }

  &--width-xl {
    max-width: $breakpoint-xl;
  }

  .header {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  .title {
    flex: 1 1 auto;
    margin: 30px 0 24px 30px;
  }

  .iconButton {
    color: $color-charcoal;
    margin: 6px 6px 16px 16px;
  }

  .content {
    flex: 1 1 auto;
    overflow-y: scroll;
    margin-bottom: 24px;
    padding: 0 30px;
  }

  .actions {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding: 0 30px 30px 30px;
    margin: -8px;
  }

  .actionButton {
    margin: 8px;
  }
}
