@import "@bmi/styles";

.header {
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-bottom: 1.5rem;

  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
  }
}

.bannerImage {
  background-color: #dedede;
  img {
    width: 100%;
    display: block;
  }
}

.metadata {
  border-top: 1px solid $color-pearl;
  border-bottom: 1px solid $color-pearl;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.tech {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.type {
  align-items: center;
  margin-bottom: 0.5rem;
}

.status {
  color: $color-slate;
}

.technologyIcon {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}
