PG_DATABASE=postgres
PG_USER=postgres
PG_PASSWORD=postgres
PG_HOST=localhost
PG_PORT=5432
PG_SCHEMA=public
GOOGLE_APPLICATION_CREDENTIALS=./gcp.json
CONTENTFUL_API_HOST=
CONTENTFUL_SPACE_ID=
CONTENTFUL_ENVIRONMENT=
CONTENTFUL_TOKEN=

# Pub sub credentials
GOOGLE_APPLICATION_CREDENTIALS=./gcp.json

# Frontend URL
FRONTEND_URL=

# Aut0 credential
AUTH0_API_CLIENT_ID=
AUTH0_API_CLIENT_SECRET=
AUTH0_API_DOMAIN=intouch-dev.eu.auth0.com
AUTH0_NAMESPACE=https://intouch

# PUBSUB TOPICS
TOPIC_TRANSACTIONAL_EMAIL=transactional-email
TOPIC_GUARANTEE_PDF=guarantee-pdf

# CONTENTFUL
CONTENTFUL_TAGS='{"en": "market__endor"}'

# MERCHANDISE
MERCHANDISE_API=api
MERCHANDISE_CLIENT_SECRET=
MERCHANDISE_ENCRYPTION_KEY=
MERCHANDISE_IV_KEY=
MERCHANDISE_MARKET='{"en": {"country": 1, "lang": "en"}}'
