DATABASE=postgres
PG_USER=postgres
PASSWORD=postgres
HOST=localhost
PG_PORT=5432
PG_SCHEMA=public
GOOGLE_APPLICATION_CREDENTIALS=./gcp.json
CONTENTFUL_API_HOST=
CONTENTFUL_SPACE_ID=
CONTENTFUL_ENVIRONMENT=
CONTENTFUL_TOKEN=

# Pub sub credentials
GOOGLE_APPLICATION_CREDENTIALS=./gcp.json

# Aut0 credential
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_DOMAIN=intouch-dev.eu.auth0.com
