@import "~@bmi-digital/styles";

.companyPage {
  .detail {
    flex: 2;
    min-width: 400px;
  }

  .icons {
    display: flex;
    margin-top: 10px;

    .icon {
      margin-left: 10px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }

  .expired {
    td {
      color: red;
    }
  }
}

.dialog {
  background-color: $color-alabaster;
  .form {
    padding-top: 15px;
  }
  .input {
    input {
      background-color: white;
    }
  }
  .personalNote {
    background-color: white;
    margin-top: 30px;
  }
  .cancel {
    margin-top: 15px;
    margin-right: 15px;
  }
}

.sidePanelFooterButton {
  width: 100%;
}
