@import "~@bmi-digital/styles";

.companyMemberPage {
  .detail {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 30px 20px;
    width: 100%;

    @media (max-width: $breakpoint-lg) {
      justify-content: start;
    }

    @media (max-width: $breakpoint-md) {
      margin: 0;
      margin-top: 16px;
      overflow: hidden;
    }

    .userDetail {
      @media (max-width: $breakpoint-lg) {
        flex-direction: row-reverse;
        flex-flow: wrap-reverse;
      }
    }
  }

  .icons {
    display: flex;
    margin-top: 10px;

    .icon {
      margin-left: 10px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }

  .expired {
    color: red;
  }

  .projectTable {
    th {
      &:nth-child(1) {
        width: 72px;
      }
      &:nth-child(3),
      &:nth-child(4) {
        width: 90px;
      }
    }
    @media (max-width: $breakpoint-lg) {
      th {
        &:nth-child(1) {
          width: 72px;
        }
        &:nth-child(3),
        &:nth-child(4) {
          width: 130px;
        }
      }
    }
  }

  .actionPanel {
    margin-bottom: 0;

    @media (max-width: $breakpoint-lg) {
      padding: 20px 0;
    }

    @media (max-width: $breakpoint-md) {
      padding: 16px;
    }

    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      Button {
        width: auto;
      }
    }

    &.mobile {
      @media (min-width: $breakpoint-lg) {
        display: none;
      }
    }
    &.desktop {
      @media (max-width: $breakpoint-lg) {
        display: none;
      }
    }
  }

  .userCard {
    @media (max-width: $breakpoint-md) {
      padding: 0 16px;
    }
  }
}

.dialog {
  background-color: $color-alabaster;
  .form {
    padding-top: 15px;
  }
  .input {
    input {
      background-color: white;
    }
  }
  .personalNote {
    background-color: white;
    margin-top: 30px;
  }
  .cancel {
    margin-top: 15px;
    margin-right: 15px;
  }
}

.sidePanelFooterButton {
  width: 100%;
}
