.main {
  margin-top: 1.5rem;
  padding: 1.5rem;

  :global {
    .MuiCardContent-root {
      padding: 0 0 1.5rem 0;
    }

    .MuiCardActions-root {
      padding: 0;
    }

    .MuiCardActions-root {
      justify-content: flex-end;
    }
  }
}

.heading {
  margin-bottom: 1rem;
}
