ACCESS_TOKEN=abc123
PIM_URL=https://pim-qa.westeurope.cloudapp.azure.com:9002/bmiwebservices/v2/norwayBmi/export/products
HOST=pim-qa.westeurope.cloudapp.azure.com:9002
NODE_TLS_REJECT_UNAUTHORIZED=0
