@import "~@bmi-digital/styles";

.PaginationItem {
  &:global([class*="MuiPaginationItem-root"]) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 42px;
    height: 42px;
    padding: 0px;
    margin: 0 6px 0 0;
    border-radius: 42px;
  }

  &:global([class*="MuiPaginationItem-textPrimary"]) {
    color: $color-theme-inter;
  }

  &:global([class*="Mui-selected"]) {
    color: $color-white;
  }

  &--first:global([class*="MuiPaginationItem-root"]),
  &--last:global([class*="MuiPaginationItem-root"]) {
    background-color: transparent;
  }
}
