test_gcp-upload-file:
  extends: .test_function
  variables:
    WORKSPACE: "@bmi/gcp-upload-file"
    ROOT_DIR: "applications/functions/gcp-upload-file"

build_gcp-upload-file:
  extends: .build_function
  variables:
    WORKSPACE: "@bmi/gcp-upload-file"
    ROOT_DIR: "applications/dxb/functions/gcp-upload-file"

package_gcp-upload-file:
  extends: .package_function
  needs:
    - job: build_gcp-upload-file
      artifacts: true
  variables:
    FUNCTION_NAME: "gcp-upload-file"
    ROOT_DIR: "applications/dxb/functions/gcp-upload-file"

deploy_gcp-upload-file:
  extends: .deploy_function
  needs:
    - job: package_gcp-upload-file
      artifacts: true
  variables:
    FUNCTION_NAME: "gcp-upload-file"
    ROOT_DIR: "applications/dxb/functions/gcp-upload-file"
