@import "~@bmi-digital/styles";

.BackToResults {
  display: flex;

  &--separator {
    margin-left: 8px;
    margin-right: 8px;
    width: 1px;
    justify-self: stretch;
    background-color: $color-storm;
  }
}
