@import "~@bmi-digital/styles";

.BorderedItem {
  border-top: 1px solid $color-storm;
  padding-bottom: 32px;

  @media (min-width: $breakpoint-sm) {
    border-top: none;
    padding-bottom: 0;
  }
}
