.AeroDeck {
  --color-brand-accent-300: #cccccc;
  --color-brand-accent: #70706f;
  --color-brand-inter: #70706f; /// ????
  --color-brand-focus: #3b3b3b;
}

.BrandRed {
  --color-brand-accent-300: #fd543e;
  --color-brand-accent: #e30613;
  --color-brand-inter: #d10513;
  --color-brand-focus: #b30510;
}

.RoyalBlue {
  // --color-brand-accent-300: #004f9f;
  --color-brand-accent: #004f9f;
  --color-brand-inter: #004f9f;
  --color-brand-focus: #003d7a;
}

.Purple {
  --color-brand-accent-300: #8985d6;
  --color-brand-accent: #201e5b;
  --color-brand-inter: #201e5b;
  --color-brand-focus: #161542;
}

.NaviBlue {
  // --color-brand-accent-300: #133579;
  --color-brand-accent: #133579;
  --color-brand-inter: #133579;
  --color-brand-focus: #0e2a5d;
}

.SealoflexBlue {
  --color-brand-accent-300: #00539c;
  --color-brand-accent: #00539c;
  --color-brand-inter: #00539c;
  --color-brand-focus: #003c70;
}

.BrandGreen {
  --color-brand-accent-300: #2aa94e;
  --color-brand-accent: #2aa94e;
  --color-brand-inter: #1f7a39;
  --color-brand-focus: #1a6531;
}

.SiplastBlack {
  --color-brand-accent-300: #cccccc;
  --color-brand-accent: #1a171b;
  --color-brand-inter: #1a171b;
  --color-brand-focus: #1a171b;
}
