@import "@bmi/styles";

.DocumentSimpleTableResults {
  .table-header {
    width: 92px;
    white-space: nowrap;
  }

  .table-cell {
    vertical-align: middle;
    white-space: nowrap;
  }

  :global {
    .MuiFormControlLabel-root {
      margin-right: 0;
    }
  }

  .row {
    &--checked:global(.MuiTableRow-root) {
      // Hack for position relative for tr
      // See https://github.com/w3c/csswg-drafts/issues/1899
      transform: scale(1);
      background-color: rgba($color-theme-accent-rgb, 0.1);
      border: 1px solid $color-theme-accent;
    }

    &:first-of-type.row--checked {
      box-shadow: inset 0px 1px 0px $color-theme-accent;
    }
  }

  .download-icon {
    width: 32px;
    height: 32px;
  }

  .external-link-icon {
    fill: $color-theme-inter;
    width: 24px;
    height: 24px;
  }

  .no-document-icon {
    width: 16px;
    height: 16px;
    color: $color-charcoal;
    opacity: 0.24;
  }

  abbr[title]::after {
    content: " (" attr(title) ")";

    @media (min-width: $breakpoint-lg) {
      content: "";
    }
  }

  .list-item {
    padding: 20px 0;
    position: relative;
    &:nth-child(2n + 1)::before {
      content: "";
      display: block;
      position: absolute;
      left: -20px;
      right: -20px;
      bottom: 0;
      top: 0;
      background-color: $color-pearl;
    }
  }
  .document-title {
    line-height: 31px;
    color: $color-slate;
    margin-top: 5px;
  }
  .document-type {
    color: $color-slate;
    line-height: 19px;
  }
  .list-title-row {
    display: flex;
    margin-bottom: 12px;
    position: relative;
  }
  .list-download-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .list-icon {
    margin-right: 12px;
  }
}
