@import "@bmi-digital/styles";

.DocumentSimpleTableResults {
  .table-header {
    width: 92px;
    white-space: nowrap;
  }

  .table-cell {
    vertical-align: middle;
    white-space: nowrap;
  }

  :global {
    [class*="MuiFormControlLabel-root"] {
      margin-right: 0;
    }
  }

  .row {
    &--checked:global(.Mui-selected) {
      // Hack for position relative for tr
      // See https://github.com/w3c/csswg-drafts/issues/1899
      transform: scale(1);
      background-color: rgba($color-theme-accent-rgb, 0.1);
      border: 1.2px solid $color-theme-accent;
    }
    &:first-of-type.row--checked {
      box-shadow: inset 0px 0px 0px $color-theme-accent;
    }
  }

  .download-icon {
    width: 32px;
    height: 32px;
  }

  .external-link-icon {
    fill: $color-theme-inter;
    width: 24px;
    height: 24px;
  }

  .no-document-icon {
    width: 16px;
    height: 16px;
    color: $color-charcoal;
    opacity: 0.24;
  }

  abbr[title]::after {
    content: " (" attr(title) ")";

    @media (min-width: $breakpoint-lg) {
      content: "";
    }
  }
}
