@import "@bmi-digital/styles";

.DocumentSimpleTableResultsMobile {
  .list-item {
    padding: 20px 0 12px;
    position: relative;
    min-height: 126px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:nth-child(2n + 1)::before {
      content: "";
      display: block;
      position: absolute;
      left: -20px;
      right: -20px;
      bottom: 0;
      top: 0;
      background-color: $color-pearl;
    }
  }
  .document-title {
    line-height: 31px;
    color: $color-slate;
    padding-top: 5px;
    font-family: "Effra Medium";
  }
  .document-type {
    color: $color-slate;
    line-height: 19px;
  }
  .list-title-row {
    display: flex;
    position: relative;
  }
  .list-download-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .list-icon {
    margin-right: 12px;
    display: flex;
  }
}
