@import "~@bmi-digital/styles";

.DocumentTechnicalTableResults {
  .header-row {
    vertical-align: top;
    color: $color-slate;
  }

  .body-row {
    vertical-align: middle;
  }

  :global {
    [class*="MuiFormControlLabel-root"] {
      margin-right: 0;
    }
    [class*="MuiAccordionDetails-root"] {
      padding: 0px 15px;
    }
  }

  .asset-type-cell {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    width: 72px;
  }

  .tooltip-icon {
    color: $color-theme-inter;
  }

  .format-icon {
    width: 32px;
    height: 32px;
  }

  .align-center {
    text-align: center;
    vertical-align: middle;
  }

  .accordion-details {
    padding: 0px 15px;
    min-height: 56px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border-bottom: 1px solid $color-storm;
    &:last-child {
      border-bottom: none;
    }
    .icon-container {
      width: 37px;
      margin-top: 12px;
      margin-right: 15px;
    }
    .info-icon-container {
      width: 37px;
      margin-top: 7px;
      margin-right: 15px;
    }
    .download-icon-container {
      width: 100%;
      margin-top: 15px;
      display: flex;
      justify-content: flex-end;

      .all-files-icon {
        color: $color-theme-inter;
      }
    }
  }

  .no-document-icon {
    width: 16px;
    height: 16px;
    color: $color-charcoal;
    opacity: 0.24;
  }

  .external-link-icon {
    fill: $color-theme-inter;
    width: 24px;
    height: 24px;
  }
  .external-download-button {
    &:hover {
      background-color: unset;
    }
  }

  .all-files-header {
    width: 92px;
    white-space: nowrap;
  }

  .all-files-header-wrapper {
    display: flex;
    align-items: center;
  }

  .all-files-icon {
    width: 24px;
    height: 24px;
    margin-right: 2px;
  }
}
