@import "@bmi-digital/styles";

.Filters {
  .scroll-bar {
    @media (min-width: $breakpoint-xl) {
      position: sticky;
      max-height: calc(100vh - 200px);
      overflow: hidden;
    }
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  .results {
    margin-top: 47px;
  }
}
