@import "@bmi-digital/styles";

.ProductOverview {
  padding: 36px 0;

  .keyAssetTypesDownload {
    padding-top: 18px;

    @media (min-width: $breakpoint-lg) {
      padding-top: 24px;
    }
  }
}
