.ProductLeadBlock {
  :global {
    [class*="MuiBox-root"] {
      padding: 0px;
    }
  }

  .GuaranteesAndAwardsAsset {
    .image {
      height: 60px;
      padding-right: 10px;
    }
    .document {
      padding-top: 10px;
      padding-right: 10px;
      display: inline-block;
    }
  }
  .document-library {
    padding-top: 32px;
  }
}
