@import "@bmi/styles";

.ProductLeadBlock {
  :global {
    [class*="MuiBox-root"] {
      padding: 0px;
    }
  }

  .GuaranteesAndAwardsAsset {
    .image {
      height: 60px;
      padding-right: 10px;
    }
    .document {
      padding-top: 10px;
      padding-right: 10px;
      display: inline-block;
    }
    .inline-link {
      padding-top: 10px;
      color: #0072b0;
      &:hover {
        color: #005b8c;
      }
      transition: color ease-out 0.25s;
    }
  }
  .document-library {
    padding-top: 32px;
  }
  .fixing-tool-iframe, .specification-tab-iframe {
    height: 600px;
    @media (min-width: $breakpoint-lg) {
      height: 800px;
    }
  }
}
