@import "@bmi-digital/styles";

.RichText {
  .title {
    margin-bottom: 28px;
  }

  img.embedded-asset {
    max-width: 100%;
  }

  img.embedded-asset + img.embedded-asset {
    margin-left: 8px;
  }

  p {
    margin-bottom: 0.75em;
    min-height: 1.4rem;
    &:last-child:empty {
      display: none;
    }
  }

  ul {
    list-style: none;
    padding-left: 1.5rem;
  }

  ul li {
    display: flex;
  }

  ul li::before {
    content: "◼︎";
    color: $color-theme-accent;
    margin-left: -1.5rem;
    margin-top: 1px;
    padding-right: 1rem;
  }

  ol {
    list-style: decimal;
    padding-left: 1.5rem;
    padding-inline-start: 20px;
  }
  li > ol {
    list-style: lower-alpha;
    padding-left: 1.5rem;
  }

  ol li::before {
    margin-left: -1.5rem;
    margin-top: 1px;
    width: 1.5rem;
  }

  ol li p {
    margin-left: 10px;
  }
}
