@import "@bmi/styles";

.main {
  background-color: $color-white;
}
.body {
  :global {
    .MuiAccordionDetails-root {
      display: block;
    }
    .MuiAccordionSummary-root {
      flex-direction: row-reverse;
      padding: 0;
      .MuiAccordionSummary-content {
        justify-content: space-between;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
      }
    }
  }
  table {
    background-color: $color-white;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.download {
  cursor: pointer;
  &:hover {
    color: $color-cyan-500;
  }
}

.noContent {
  & > * {
    min-height: 1px;
    padding: 2rem;
    margin-top: 0;
  }
}

.requiredList {
  display: flex;
  align-items: center;
  padding: 9px;
  color: $color-slate;
  font-size: 16px;
  text-decoration: none;
  transition: 0.15s;
  cursor: pointer;
}
