@import "@bmi/styles";

.main {
  background-color: $color-white;
}
.body {
  :global {
    .MuiAccordionDetails-root {
      display: block;
    }
    .MuiAccordionSummary-root {
      flex-direction: row-reverse;
      padding: 0;
      .MuiAccordionSummary-content {
        padding-left: 0.6rem;
      }
    }
  }
  table {
    background-color: $color-white;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
