@import "~@bmi-digital/styles";

.PostItCard {
  padding: 48px 30px;

  @media (max-width: $breakpoint-sm) {
    padding: 48px 20px;
  }

  .section:not(:first-child) {
    margin-top: 48px;
  }

  .content {
    margin-top: 20px;
  }

  .action {
    margin-top: 20px;
  }
}
