@import "@bmi/styles";

.header {
  width: 100%;
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
}

.upperHeader {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: $color-blue-900;
  color: white;
  padding: 0 1rem;

  a {
    font-size: 0.85rem;
    margin-left: 1.5rem;
  }

  @media (min-width: $breakpoint-md) {
    padding: 1.5rem;
    height: 50px;
    text-decoration: underline;
  }
}

.midHeader {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  background: $color-white;

  @media (min-width: $breakpoint-md) {
    display: none;
  }
}

.midHeaderNav {
  display: flex;
  align-items: center;
}

.lowerHeader {
  height: 64px;
  background-color: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  @media (min-width: $breakpoint-md) {
    padding: 1.5rem;
    height: 90px;
  }
}

.lowerHeaderMeta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lowerHeaderUserLevel {
  color: $color-brand-accent;
}

.lowerHeaderNav {
  display: none;
  @media (min-width: $breakpoint-md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
