@import "@bmi/styles";

.Container {
  overflow: hidden;

  @media (min-width: $breakpoint-xl) {
    overflow: revert;
  }

  &--sm {
    @media (min-width: $breakpoint-sm) {
      overflow: revert;
    }
  }

  &--md {
    @media (min-width: $breakpoint-md) {
      overflow: revert;
    }
  }

  &--lg {
    @media (min-width: $breakpoint-lg) {
      overflow: revert;
    }
  }
}
