.ExpandableCardList {
  $breakpoint-sm: 600px;

  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $breakpoint-sm) {
    margin: -10px;
    flex-wrap: wrap;
    flex-direction: row;

    .item {
      flex: 1 0 21%;
      margin: 10px;
    }
  }
}
