@import "@bmi/styles";

.Typography {
  &--underline {
    &::after {
      background-color: $color-cyan-400;
      content: "";
      display: block;
      height: 4px;
      margin-top: 1rem;
      width: 100px;
    }
  }

  &.body3 {
    font-size: 0.667rem;
  }
}

:global {
  // NOTE: The font-size only changes at a specific breakpoint.
  $breakpoint-lg: 1024px;

  @media (min-width: $breakpoint-lg) {
    html {
      font-size: 1.125rem;
    }
  }

  .MuiTypography-h3::after {
    margin-top: 0.75rem;
  }

  .MuiTypography-h4::after {
    margin-top: 0.5rem;
  }

  .MuiTypography-button {
    text-transform: none;
  }
}
