@import "@bmi-digital/styles";

.ExpandableCard {
  $animation-duration: 0.2s;
  $animation-duration-back: 0.25s;
  $animation-type: ease-in-out;

  z-index: 1;
  min-height: 56px;
  transition: add-transition(
    $animation-duration ease-out,
    top,
    right,
    bottom,
    left,
    height,
    box-shadow
  );

  &:focus {
    outline: $color-theme-inter 2px;
  }

  .header {
    display: flex;
    align-items: center;
    min-height: 36px;
    position: relative;
    padding-right: calc(48px / 2 + 6px);
  }

  .icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    color: $color-theme-accent;
    transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1),
      add-transition(
        $animation-duration $animation-type,
        height,
        width,
        top,
        left
      );
  }

  .title {
    text-transform: none;
    color: $color-slate;
    transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1),
      add-transition($animation-duration $animation-type, top, right, left);
  }

  .close {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 3;
    color: $color-slate;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;

    &:global(.MuiCardContent-root) {
      padding-bottom: 16px;
    }

    transition: add-transition($animation-duration $animation-type, padding);
  }

  .body,
  .footer {
    margin-top: 19px;
    border-top: 1px solid $color-storm;
    padding-top: 20px;
  }

  .footer {
    margin-top: auto;
  }

  .close,
  .footer,
  .body {
    opacity: 0;
    display: none;
  }

  &:hover:not(&--expanded) {
    cursor: pointer;

    .icon {
      color: $color-theme-inter;
    }

    .title {
      color: $color-charcoal;
    }
  }

  // NOTE: Desktop first logic here to reuse the Card styling on Tablet+
  @media (max-width: $breakpoint-sm - 1px) {
    &,
    &:hover {
      &:global(.MuiPaper-root) {
        background: transparent;
        box-shadow: none;
      }
    }
  }

  @media (min-width: $breakpoint-sm) {
    &:hover:not(&--expanded) {
      box-shadow: elevation(8);
    }
    min-height: 100%;

    .header {
      justify-content: center;
      padding-right: 0;
    }

    .icon {
      position: absolute;
      width: 72px;
      height: 72px;
      top: 0;
      left: calc(50% - 72px / 2);
    }

    .title {
      position: absolute;
      top: calc(72px + 24px);
      left: 0;
      white-space: nowrap;
      text-align: center;
      right: 0;

      &--static {
        position: static;
        margin-top: calc(72px + 24px);
        white-space: inherit;
      }
    }
  }

  &#{&}--expanded {
    &,
    &:hover {
      background: #fff;
      box-shadow: elevation(8);
    }

    z-index: 2;
    position: absolute;
    min-height: auto;
    top: 0;
    right: 0;
    left: 0;

    transition: add-transition(
        $animation-duration-back $animation-type,
        right,
        left,
        box-shadow,
        height
      ),
      add-transition(
        $animation-duration-back $animation-duration ease-out,
        top,
        bottom
      );

    .content {
      padding: 20px;
    }

    .icon {
      left: 0;
      width: 36px;
      height: 36px;
    }

    .title {
      margin-top: 0;
      top: 6px;
      left: calc(16px + 36px);
      right: 100%;
      transform: translateX(0);
    }

    .close,
    .footer,
    .body {
      display: block;
      animation: fade $animation-duration-back $animation-duration ease-out both;
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
