@import "~@bmi-digital/styles";

.form {
  margin-top: 12px;

  .input {
    margin-bottom: 24px;
  }
}

.sectionTitle {
  margin-bottom: 12px;
}

.sectionDescription {
  margin-bottom: 24px;
}

// TODO: could change Dialog content overflow to auto instead.
.dialogContent {
  overflow-y: auto;
}

// Workaround for RadioGroup Items layout
.technologyGrid {
  margin: 0;
}

.technologyIcon {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.technologyCaption {
  margin-top: 12px;
}

.requiredInformation{
  color: gray;
  font-size: medium;
}

.sectionRequiredInformation{
  text-align: right;
}
