@import "~@bmi-digital/styles";

.body {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;

  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
  }
}
.footer {
  display: flex;
  justify-content: flex-end;
}
.technologyIcon {
  width: 1.6em;
  height: 1.6em;
  margin-left: 1em;
}
