@import "@bmi/styles";

.main {
  background-color: $color-white;
  padding: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
}

.body {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;

  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
  }
}
