@import "@bmi/styles";

.ProfileCard {
  display: flex;
  background-color: $color-white;
  box-shadow: elevation(2);
  text-align: center;
  position: relative;
  height: 100%;
  flex-direction: column;
  align-items: center;
  word-break: break-word;

  &::before {
    content: "";
    position: absolute;
    height: calc(30px + 75px);
    top: 0;
    right: 0;
    left: 0;
    background-color: $color-pearl;
    z-index: 0;
  }

  .head {
    width: 150px;
    height: 150px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-top: 30px;
  }

  .profile-picture {
    width: 150px;
    height: 150px;
  }

  .title {
    color: $color-slate;
  }

  .body {
    padding: 20px 30px;
    background-color: $color-white;
    text-align: center;
    color: $color-charcoal;
    flex: 1;
  }

  .footer {
    text-align: left;
    background-color: $color-pearl;
    padding: 15px;
    font-size: 1rem;
    flex: 1;
    width: 100%;
  }

  .row {
    padding: 15px;
    display: flex;
    align-items: flex-start;
    font-family: "Effra Medium";
  }

  .row-icon {
    color: $color-slate;
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
}
