@import "~@bmi-digital/styles";

.QuantityTable {
  .displayIfSmall {
    display: table;

    @media (min-width: $breakpoint-sm) {
      display: none;
    }
  }

  .displayIfMedium {
    display: none;
    height: 100%;

    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
      display: table;
    }
  }

  .displayIfLarge {
    display: none;

    @media (min-width: $breakpoint-lg + 1px) {
      display: table;
    }
  }

  .smallCell {
    width: 10%;
  }

  .largeCell {
    text-align: center;
    width: 17.5%;
  }

  .header {
    min-width: 100px;
    text-align: center;
  }

  .largeHeaderFirstCell {
    min-width: 220px;
  }

  .mediumHeaderFirstCell {
    min-width: 204px;
  }

  .mediumHeaderCell {
    width: 138px;
    text-align: center;
  }

  .mediumCell {
    margin-left: 10px;
    text-align: center;
  }

  .greyBack {
    background-color: #f7f7f7;
  }

  .smallDescription {
    word-break: break-all;
    margin: 10px;
    word-break: break-all;
  }

  .packSizes {
    width: 100px;
  }

  .cellMediumRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    min-width: 30%;
  }

  .cellRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .mediumTableRow {
    vertical-align: top;

    &,
    td {
      height: 100%;
    }

    & > td:not(:first-child) {
      padding: 24px 0;
    }
  }

  .largeDescription {
    margin-left: 10px;
    align-self: center;
    word-break: break-all;
  }

  .cellRowLast {
    justify-content: space-between;
    align-items: center;
  }

  .icon {
    fill: $color-theme-inter;
    cursor: pointer;
  }

  .picture {
    height: 80px;
    width: 80px;
    mix-blend-mode: multiply;
  }

  .boldText {
    margin-top: 3px;
    margin-left: 5px;
    font-weight: bold;
  }

  .iteratorCellSmall,
  .iteratorCellMedium {
    max-width: 170px;

    input {
      padding: 18px 12px;
      text-align: center;
    }
  }

  .iteratorCellMedium {
    margin-top: 22px;
  }

  .iteratorCellLarge {
    min-width: 170px;

    input {
      padding: 18px 12px;
      text-align: center;
    }
  }

  .mediumCellBasketIconWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
  }
}
