@import "~@bmi-digital/styles";

.Bullets {
  list-style: none;
  margin: 0;
  padding: 0;

  .li {
    &::before {
      display: inline-block;
      content: "";
      width: 9px;
      height: 9px;
      background-color: $color-theme-accent;
      margin-right: 18px;
    }
  }

  .li:not(:last-child) {
    margin-bottom: 12px;
  }
}
