@import "@bmi/styles";

.main {
  background-color: $color-white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.role {
  color: $color-slate;
  text-transform: capitalize;
  margin-top: 0.25rem !important;
}
.responsible {
  &--selected {
    :global(.MuiTableCell-body) {
      color: $color-brand-green;
      font-weight: bold;
    }
  }
}

.deleteButton:disabled {
  background-color: transparent !important;
  opacity: 0.6;
}
