@import "@bmi-digital/styles";

.footer {
  background-color: $color-blue-900;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
  }
}

.footerNav {
  display: inline-flex;
  margin-right: auto;
  margin-left: 1.5rem;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-bottom: auto;
    margin-top: 32px;
  }

  a {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 16px;
    font-weight: bold;
    color: $color-storm;
  }
}
