@import "@bmi/styles";

.Checkbox {
  :global {
    .MuiCheckbox-colorPrimary {
      color: $color-theme-inter;

      &.Mui-disabled {
        color: rgba($color-theme-inter-rgb, 0.25);
      }
    }

    .MuiFormControlLabel-root {
      align-items: flex-start;
    }

    .MuiFormControlLabel-label {
      margin-top: 1px;
    }

    .MuiFormHelperText-root {
      margin: 0 0 14px 33px;
    }

    .MuiCheckbox-root {
      margin-top: -9px;
    }
  }
}
