@import "@bmi/styles";

.ShareWidget {
  align-items: center;
  color: $color-slate;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 16px;

  .title {
    margin: 0 24px 16px 0;
    color: $color-charcoal;
  }

  .icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0 0 16px;
    padding-left: 0;
  }

  .icon-button {
    height: 42px;
    width: 42px;
  }

  .icon {
    fill: $color-slate;
  }

  &--left-aligned {
    justify-content: flex-start;

    .icon-list {
      justify-content: flex-start;
    }
  }
}
