test_gcp-pim-full-fetch:
  extends: .test_function
  rules:
    - !reference [.ingore_release_mrs, rules]
    - if: !reference [.run_for_changes_on_main, rules, if]
      changes:
        - $ROOT_DIR/**/*
        - jest/**/*
        - yarn.lock
        - applications/dxb/libraries/pim-api/**/*
    - if: !reference [.run_for_changes_on_mr, rules, if]
      changes:
        - $ROOT_DIR/**/*
        - jest/**/*
        - yarn.lock
        - applications/dxb/libraries/pim-api/**/*
  variables:
    WORKSPACE: "@bmi/gcp-pim-full-fetch"
    ROOT_DIR: "applications/dxb/functions/gcp-pim-full-fetch"

build_gcp-pim-full-fetch:
  extends: .build_function
  rules:
    - !reference [.ingore_release_mrs, rules]
    - if: !reference [.run_for_changes_on_main, rules, if]
      changes:
        - $ROOT_DIR/**/*
        - yarn.lock
        - applications/dxb/libraries/pim-api/**/*
    - if: !reference [.run_for_changes_on_mr, rules, if]
      changes:
        - $ROOT_DIR/**/*
        - yarn.lock
        - applications/dxb/libraries/pim-api/**/*
    - if: !reference [.run_for_preprod_release, rules, if]
    - if: !reference [.run_for_prod_release, rules, if]
  variables:
    WORKSPACE: "@bmi/gcp-pim-full-fetch"
    ROOT_DIR: "applications/dxb/functions/gcp-pim-full-fetch"

package_gcp-pim-full-fetch:
  extends: .package_function
  needs:
    - job: build_gcp-pim-full-fetch
      artifacts: true
  rules:
    - if: !reference [.run_for_changes_on_main, rules, if]
      changes:
        - $ROOT_DIR/**/*
        - yarn.lock
        - applications/dxb/libraries/pim-api/**/*
    - if: !reference [.run_for_preprod_release, rules, if]
    - if: !reference [.run_for_prod_release, rules, if]
  variables:
    FUNCTION_NAME: "gcp-pim-full-fetch"
    ROOT_DIR: "applications/dxb/functions/gcp-pim-full-fetch"

deploy_gcp-pim-full-fetch:
  extends: .deploy_function
  needs:
    - job: package_gcp-pim-full-fetch
      artifacts: true
  rules:
    - if: !reference [.run_for_changes_on_main, rules, if]
      changes:
        - $ROOT_DIR/**/*
        - yarn.lock
        - applications/dxb/libraries/pim-api/**/*
      variables:
        GCP_FUNCTIONS_CI: $GCP_FUNCTIONS_CI_QA
    - if: !reference [.run_for_preprod_release, rules, if]
      variables:
        GCP_FUNCTIONS_CI: $GCP_FUNCTIONS_CI_PREPROD
    - if: !reference [.run_for_prod_release, rules, if]
      variables:
        GCP_FUNCTIONS_CI: $GCP_FUNCTIONS_CI_PROD
  variables:
    FUNCTION_NAME: "gcp-pim-full-fetch"
    ROOT_DIR: "applications/dxb/functions/gcp-pim-full-fetch"
