@import "@bmi-digital/styles";

.main {
  background-color: $color-pearl;
  border: 1px solid $color-storm;
  border-radius: 3px;
  margin-top: 1rem;
}

.footer {
  margin-top: 1rem;
  background-color: $color-white;
}
