@import "@bmi/styles";

.ExploreBar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: -24px;

  .heading {
    margin-right: 24px;
    margin-top: 24px;
    flex-basis: 100%;

    @media (min-width: $breakpoint-md) {
      flex-basis: auto;
    }
  }

  .link {
    margin-right: 24px;
    margin-top: 24px;
  }

  .link:last-child {
    margin-right: 0;
  }
}
