@import "@bmi-digital/styles";

.TwoPaneCarousel {
  .brand-icon {
    height: 40px;
    margin-bottom: 40px;
    fill: $color-white;
  }

  .heading {
    padding-bottom: 24px;
  }

  .image {
    background-size: cover;
    background-position: center center;
    max-height: 400px;
    margin-bottom: 24px;
  }

  .left-pane-slide {
    justify-content: flex-start;
  }

  .text {
    font-size: 1rem;
  }

  .controls {
    margin-top: 32px;
  }

  .cta {
    margin-top: 32px;
    min-height: 48px;
  }

  .wrapper {
    margin-top: 48px;
    text-align: center;
  }

  @media (min-width: $breakpoint-md) {
    $pane-height: 504px;
    $controls-height: 48px;
    $controls-margin: 32px;

    .left-pane {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: $pane-height;
    }

    .heading {
      margin-bottom: 32px;
    }

    .image {
      max-height: none;
      height: $pane-height;
      margin-bottom: 0;

      &::before {
        content: none;
      }
    }

    .wrapper {
      text-align: left;
    }
  }
}

:export {
  breakpoint-xl: 1280px;
}
