# Contentful config
CONTENTFUL_SPACE_ID:
CONTENTFUL_DELIVERY_TOKEN_SECRET:
CONTENTFUL_ENVIRONMENT:

# Secrets Manager
SECRET_MAN_GCP_PROJECT_NAME:

# Google Recapthca
RECAPTCHA_SECRET_KEY:
RECAPTCHA_MINIMUM_SCORE:

# Development only
DEV_CONTENTFUL_DELIVERY_TOKEN:
DEV_RECAPTCHA_SECRET_KEY:
