test_gcp-system-configurator:
  extends: .test_function
  variables:
    WORKSPACE: "@bmi/gcp-system-configurator"
    ROOT_DIR: "applications/dxb/functions/gcp-system-configurator"

build_gcp-system-configurator:
  extends: .build_function
  variables:
    WORKSPACE: "@bmi/gcp-system-configurator"
    ROOT_DIR: "applications/dxb/functions/gcp-system-configurator"

package_gcp-system-configurator:
  extends: .package_function
  needs:
    - job: build_gcp-system-configurator
      artifacts: true
  variables:
    FUNCTION_NAME: "gcp-system-configurator"
    ROOT_DIR: "applications/dxb/functions/gcp-system-configurator"

# Deploy to QA or Pre-Production or Production Storage
deploy_gcp-system-configurator:
  extends: .deploy_function
  needs:
    - job: package_gcp-system-configurator
      artifacts: true
  variables:
    FUNCTION_NAME: "gcp-system-configurator"
    ROOT_DIR: "applications/dxb/functions/gcp-system-configurator"
