@import "@bmi/styles";

.ConfiguratorPanel {
  & + & {
    margin-top: 16px;
  }

  .panel {
    background-color: $color-alabaster;
  }

  .summary {
    padding-left: 32px;
    padding-right: 42px;
    color: $color-slate;

    :global {
      [class*="MuiAccordionSummary-content"] {
        margin-top: 32px;
        margin-bottom: 32px;
      }

      [class*="MuiAccordionSummary-expandIcon"] {
        font-size: 1.33rem;
      }
    }

    .title {
      > .selected-title {
        color: $color-theme-inter;
      }

      @media (max-width: $breakpoint-sm) {
        font-size: 1.6875rem;
      }
    }

    &:hover {
      color: $color-charcoal;

      .title {
        > .selected-title {
          color: $color-theme-focus;
        }
      }
    }
  }

  :global {
    .MuiAccordionSummary-root.Mui-disabled {
      opacity: 1;

      [class*="MuiAccordionSummary-expandIcon"] {
        display: none;
      }
    }

    [class*="MuiAccordionDetails-root"] {
      flex-flow: column;
    }
  }

  .details {
    padding: 0 32px 32px;
    flex-flow: column;
  }

  .content {
    margin-bottom: 20px;
  }
}
