@import "@bmi-digital/styles";

.RadioPane {
  & + & {
    margin-top: 8px;
  }

  display: block;

  .input {
    position: absolute;
    clip: rect(0 0 0 0);
  }

  .pane {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: stretch;
    box-shadow: elevation(2);
    border: 1px solid $color-storm;
    border-radius: 3px;
    overflow: hidden;
    padding: 0 30px;
    cursor: default;
    background-color: $color-pearl;
  }

  .input:focus + .pane {
    border: 1px solid $color-theme-accent;
  }

  .input:checked + .pane {
    border: 2px solid $color-theme-accent;
    background-color: $color-white;

    .checkedIcon {
      display: block;
    }
  }

  .input:not(:checked) + .pane {
    cursor: pointer;

    &:hover {
      box-shadow: elevation(8);
      background-color: $color-white;

      .title {
        color: $color-theme-focus;
      }
    }
  }

  .checkedIcon {
    display: none;
    height: 32px;
    color: $color-theme-accent;
    margin-left: 16px;
  }

  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
  }

  .title {
    color: $color-theme-inter;
    line-height: 1;
  }

  .content {
    width: 100%;
    padding-bottom: 30px;
  }

  .hr {
    color: $color-storm;
    margin-bottom: 24px;
  }
}
