@import "~@bmi-digital/styles";

.OverviewCard {
  width: 100%;
  height: 100%;
  padding-top: 24px;
  background: $color-white;
  box-shadow: elevation(2);

  .brand-logo {
    fill: $color-white;
    border: 5px solid $color-white;
    height: 50px;
    width: fit-content;
  }

  .header-picture {
    height: 180px;
    background: no-repeat center center;
  }

  .title {
    margin: 24px 0 20px 0;
  }

  .bold-nobb {
    font-weight: bold;
  }

  .link {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .body {
    padding: 24px 30px;
    display: flex;
    flex-direction: column;
  }
}
