@import "@bmi/styles";

.main {
  background-color: $color-white;
}

// 144px = bars height
.sidePanel {
  width: 320px;
  max-height: calc(100vh - 144px);
  height: 100%;
  padding: 1.5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  flex-shrink: 0;
  position: sticky;
  top: 144px;

  @media (max-width: 1024px) {
    width: 230px;
  }

  @media (max-width: $breakpoint-md) {
    width: 100%;
    max-height: 600px;
  }
}

.filterButtons {
  margin-top: 1rem;

  span {
    font-weight: bold;
    display: inline-block;
    margin-right: 0.5em;
    padding-bottom: 0.5em;
  }
}

.results {
  overflow-y: auto;
  margin: 1.5rem 0;
}

.noResult {
  margin-top: 30px;
  text-align: center;
}

.footerBtn {
  margin-top: 15px;
}
