BUILD_REQUEST: "VALID_BUILD_REQUEST_SECRET"
BUILD_WEBHOOKS: "{'norway':'https://norway.local', 'finland':'https://finland.local'}"
PREVIEW_BUILD: "false"
PREVIEW_BUILD_WEBHOOKS: "{'norway':'https://norway.preview', 'finland':'https://finland.preview'}"
SECRET_MAN_GCP_PROJECT_NAME: "VALID_SECRET_MAN_GCP_PROJECT_NAME"
