@import "@bmi/styles";

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-alabaster;
  width: 100%;
  @supports (aspect-ratio: 1 / 1) {
    aspect-ratio: 215 / 180;
  }

  @supports not (aspect-ratio: 1 / 1) {
    padding: 2rem 1rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  margin-top: 4px !important;
  font-weight: 700 !important;
  margin-bottom: -4px;
}

.meta {
  color: $color-blue-300;
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.playButton {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iframe {
  height: 100%;
  // 16px is the padding of .MuiCardContent-root for all other thumbnails
  width: calc(100% - 16px * 2);
  // this is currently the only way to get the iframe to fit
  // with the same dimensions as a thumbnail
  position: absolute;
  top: 0;
  left: 16px; // .MuiCardContent-root
  pointer-events: none;
}
