@import "~@bmi-digital/styles";

.main {
  background-color: $color-white;
  border: 1px solid $color-storm;
  border-radius: 3px;
  width: 450px;
  max-width: 100%;
  margin: auto;

  :global {
    .Mui-disabled {
      opacity: 0.5;
    }
  }
}

.clickable {
  display: flex !important;
  padding: 1.5rem !important;
  justify-content: flex-start !important;
  &--selected {
    background-color: $color-pearl;
    border: 2px solid $color-storm;
  }
}

.logo {
  width: 50px;
  display: block;
  flex-shrink: 0;
}

.title {
  color: $color-cyan-500;
}

.text {
  margin-left: 1rem;
  padding-right: 2.5rem;
}
