COMPANY_SERVICE_URL=http://localhost:4001/graphql
TRAINING_SERVICE_URL=http://localhost:4003/graphql
CONTENTFUL_API_HOST=https://graphql.contentful.com/content/v1
CONTENTFUL_SPACE_ID=00000000000
CONTENTFUL_ENVIRONMENT=test
CONTENTFUL_TOKEN=00000000000000000
GCP_PROJECT_ID=GCP_PROJECT_ID
CONTENTFUL_CONFIG=
