@import "@bmi/styles";

.Table {
  border: 1px solid $color-storm;

  &--no-border {
    border: 0;
    tbody tr td {
      border-bottom: 0px;
    }
  }

  &--row-even-color {
    border-top: 1px solid $color-storm;
    tbody tr:nth-child(even) {
      background-color: $color-pearl;
    }
  }

  &--row-odd-color {
    border-top: none;
    tbody tr:nth-child(odd) {
      background-color: $color-pearl;
    }
  }

  &--row-no-color {
    tbody tr {
      border-top: 1px solid $color-storm;

      &:first-child {
        border-top: none;
      }
    }
  }

  .separator {
    border-bottom: 1px solid $color-storm;
  }

  :global {
    [class*="MuiTableRow-head"] {
      border: 1px solid $color-storm;
    }

    [class*="MuiTableCell-head"] {
      color: inherit;
      padding: 16px;
      font-weight: bold;
    }

    [class*="MuiTableCell-body"] {
      padding: 1rem 16px 0.67rem;
      vertical-align: top;
      border: 0;
    }

    [class*="MuiTableCell-head"],
    [class*="MuiTableCell-body"] {
      font-size: 16px;
      @media (min-width: $breakpoint-lg) {
        font-size: 18px;
      }
    }
  }
}

.SmallTable {
  border: 1px solid $color-storm;

  font-size: 16px;
  @media (min-width: $breakpoint-lg) {
    font-size: 18px;
  }

  .item {
    word-break: break-all;
    margin: 0;
    padding: 16px;
    list-style: none;
  }

  .title {
    font-weight: bold;
  }

  .description {
    margin: 0 0 16px 0;
  }

  .description:last-child {
    margin: 0;
  }

  &--no-border {
    border: 0;
  }

  &--item-even-color {
    .item:nth-child(even) {
      background-color: $color-pearl;
    }
  }

  &--item-odd-color {
    .item:nth-child(odd) {
      background-color: $color-pearl;
    }
  }
}
